{% extends 'base.html' %}

<script type="text/javascript">
    var datefield=document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type!="date"){ //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
    }
</script>
 
<script>
if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
    jQuery(function($){ //on document.ready
        $('#startDate').datepicker();
        $('#endDate').datepicker();
    })
}
</script>



{% block title %}
{% if exam %}
Editing {{exam.title}}
{% else %}
Make a new Exam
{% endif %}
{% endblock %}

{% block content %}

{% if exam %}

<div id="link_header">
	<h1>Edit | <a href="/exams/{{exam.id}}">{{exam.title}}</a></h1>
</div>
<div class="metadata">
	<form class="form" method="POST" action="/exams/{{exam.id}}/update">
	      {% csrf_token %}
	      <table>
	      <tr><td><label>Title:</label></td><td><input type="text" name="title" value="{{exam.title}}" class="inputtext"></td></tr>
	      <tr><td><label>Description:</label></td><td><textarea rows="4" name="description" placeholder="A description."></textarea></td></tr>	      
	      <tr>
		<td><label>Start Date:</label></td>
		<td><input type="text" name="startDate" class="inputtext" value="{{exam.startTime|date:"Y-M-D"}}"></td>
	     </tr>
	     <tr>
		<td><label>End Date:</label></td>
		<td><input type="text" name="endDate" class="inputtext" value="{{exam.endTime|date:"Y-M-D"}}"></td>		
	     </tr>	     
	     <!--tr><td class="inputcb"><input type="checkbox" name="ready" checked="true"><span><b> ready?</b></span></td></tr-->
	     <tr><td colspan="2"><button class="spruced_greyed_btn" type="submit" style="float:right; margin-right:10px;">Update Unit</button></td></tr>
	     </table>
	</form>	
</div>

{% else %}

<div id="link_header">
  <h1><a href="/programs/{{program.id}}">{{program.name}}</a> | New Unit</h1>
</div>
<div class="metadata">
	<form class="form" method="POST" action="/exams/create">
	      {% csrf_token %}
	      <table>
	      <input type="hidden" name="programId" value="{{program.id}}">
	      <tr><td><label>Title:</label></td><td><input type="text" name="title" placeholder="The title" class="inputtext"></td></tr>
	      <tr><td><label>Description:</label></td><td><textarea rows="4" name="description" placeholder="A description."></textarea></td></tr>	      
	      <tr>
		<td><label>Start Date:</label></td>
		<td><input type="date" name="startDate"></td>
	     </tr>
	     <tr>
		<td><label>End Date:</label></td>
		<td><input type="date" name="endDate"> </td>		
		<!-- <input type="text" name="endDate" class="inputtext" value="{{"yyyy-mm-dd"}}"> -->
	     </tr>
		<!--tr><td class="inputcb"><input type="checkbox" name="ready" checked="true"><span><b> ready?</b></span></td></tr-->
	     <tr><td colspan="2"><button class="spruced_greyed_btn" type="submit" style="float:right; margin-right:10px;">Create New Unit</button></td></tr>
	     </table>
	</form>
</div>

{% endif %}

{% endblock %}

