{% extends 'base.html' %}

{% block title %} Edit Question {% endblock %}

{% block content %}
<div id="link_header">
  <h1>Edit Question</h1>
	<p>
		<b><a href="/programs/{{program.id}}">{{program.name}}</a> | </b> 
		<b><a href="/exams/{{exam.id}}">{{exam.title}}</a> | </b> 
		<b><a href="/exams/qunits/{{quint.id}}">{{qunit.title}}</a> 
	</p>
</div>

<div class="metadata">
	<table>
		<form class="form" method="POST" action="/exams/questions/{{question.id}}/update">
		{% csrf_token %}
		<tr>
			<td>
				<label>Question:</label><textarea name="text" rows="4">{{question.text}}</textarea>
			</td>
			<td>
				<label>Possible Choices:</label><textarea name="choices" rows="4">{{question.choices}}</textarea>
			</td>
		</tr>
		<tr><td colspan="2"><label>Correct Choice:</label></td></tr>
		<tr><td><input type="text" name="correct" value="{{question.correct}}" class="inputtext"></td></tr>
		<tr><td><button class="greyed_btn" type="submit" style="margin-left:10px;">Update Question</button></td></tr>
		</form>
	</table>
</div>



{% endblock %}
