{% extends 'base.html' %}

{% block title %}
{% if exam %}
Add a Quiz Unit 
{% else %}
Editing {{qunit.title}}
{% endif %}
{% endblock %}

{% block content %}

<script language = "javascript">


maxL=800;
var bName = navigator.appName;
function taLimit(taObj) {
	if (taObj.value.length==maxL) return false;
	return true;
}

function taCount(taObj,Cnt) { 
	objCnt=createObject(Cnt);
	objVal=taObj.value;
	if (objVal.length>maxL) objVal=objVal.substring(0,maxL);
	if (objCnt) {
		if(bName == "Netscape"){	
			objCnt.textContent=maxL-objVal.length;}
		else{objCnt.innerText=maxL-objVal.length;}
	}
	return true;
}
function createObject(objId) {
	if (document.getElementById) return document.getElementById(objId);
	else if (document.layers) return eval("document." + objId);
	else if (document.all) return eval("document.all." + objId);
	else return eval("document." + objId);
}
</script>
<script type="text/javascript">
	var cbox=1;
	var qbox=1;
	var abox=1;
	var bbox=1;

</script>

<script src="/static/js/jquery.js"></script>

{% if exam %}
<div id="link_header">
	<h1>New Quiz Unit | {{exam.title}}</h1>
	<p>
		<b><a href="/programs/{{program.id}}">{{program.name}} |</a> </b> 
      		<b><a href="/exams/{{exam.id}}">{{exam.title}} |</a> </b> 
		New Quiz Unit
	</p>
</div>

<form class="form" method="POST" action="/exams/questions/create" id="target">
	<input type="hidden" name="qunitId" value="{{ myid }}">
	{% csrf_token %}			
<div id="mydiv" style="margin-left:10%;margin-top:2%;margin-bottom:2%;">

	
		<script type="text/javascript">
	var cb=1;
	var qb=1;
	var ab=1;	
	var lbox=1;
	

	$(document).ready(function () {
		createFirstLinks();		
	});
			

	function createFirstLinks(){
		var maindiv = document.getElementById('mydiv');
		var linkdiv=document.createElement('div');
		linkdiv.setAttribute('id','lbox'+lbox);

		var cbutton=document.createElement('a');
		cbutton.setAttribute('class','content_btn');
		cbutton.innerHTML="Content";
		cbutton.id="cb"+cb;	
		cbutton.setAttribute("onClick","createContentBox(this.id)");	
		var qbutton=document.createElement('a');
		qbutton.setAttribute('class','question_btn');
		qbutton.innerHTML="Question";
		qbutton.id="qb"+qb;
		qbutton.setAttribute("onClick","createQuestionBox(this.id)");	
		var abutton=document.createElement('a');
		abutton.setAttribute('class','answer_btn');
		abutton.innerHTML="Answer";
		abutton.id="ab"+ab;	
		abutton.setAttribute("onClick","createAnswerBox(this.id)");	
		
		
		linkdiv.appendChild(cbutton);
		linkdiv.appendChild(qbutton);
		linkdiv.appendChild(abutton);		
		maindiv.appendChild(linkdiv);
	
		cb+=1;
		qb+=1;
		ab+=1;
		lbox+=1;
	}
	function createContentBox(clicked_id){	
		var str=clicked_id;
		var cboxid=str.substring(2);
		var icboxid=parseInt(cboxid);
		var cboxidplus=icboxid+1;
	
		if(document.getElementById('qbox'+cboxid)){
			$('#qbox'+cboxid).hide();
		}
		if(document.getElementById('cbox'+cboxid)){
			$('#cbox'+cboxid).show();
		}
		else{			
			var maindiv = document.getElementById('lbox'+cboxid);
			var contentdiv=document.createElement('div');	
			contentdiv.id="cbox"+cboxid;

			var countdiv=document.createElement('div');
			countdiv.innerHTML='<table><tr><td><span >Remaining:</span><span id="mycounter'+cboxid+'" class="word_count">800</span></td></tr></table>';
			
			

			var contenttext=document.createElement('textarea');
			contenttext.setAttribute('class','content_ta');			
			contenttext.setAttribute('onKeyPress','return taLimit(this)');
			contenttext.setAttribute('onKeyUp','return taCount(this,"mycounter'+cboxid+'")');
			contenttext.id="ct"+cboxid;
																			
			contentdiv.appendChild(contenttext);				
			contentdiv.appendChild(countdiv);				

		
			maindiv.appendChild(contentdiv);			
					
			//check if a button already exists.if it doesn't create else,ignore
			if(document.getElementById('cb'+cboxidplus)){
			}
			else{
				createLinkBox();			
			}			
		}
	}
	function createQuestionBox(clicked_id){
		var str=clicked_id;
		var qboxid=str.substring(2);
		var iqboxid=parseInt(qboxid);
		var qboxidplus=iqboxid+1;		

		if(document.getElementById('cbox'+qboxid)){
			$('#cbox'+qboxid).hide();
		}
		if(document.getElementById('qbox'+qboxid)){
			$('#qbox'+qboxid).show();
		}
		else{
			var maindiv=document.getElementById('lbox'+qboxid);
			var questiondiv=document.createElement('div');
			questiondiv.id="qbox"+qboxid;
						
			questiondiv.innerHTML='<table><tr><td><textarea class="question_ta" id="qbox"></textarea></td><td><input type="radio" name="chk'+qboxid+'" id="mchoice'+qboxid+'" onClick="showAnswerBox(this.id);" checked>Multiple Answers / True and False<br><input type="radio" name="chk'+qboxid+'" id="ochoice'+qboxid+'" onClick="hideAnswerBox(this.id);">Open Ended / No correct answers</td></tr></table>';			
			maindiv.appendChild(questiondiv);
	
			//check if a button already exists.if it doesn't create else,ignore
			if(document.getElementById('cb'+qboxidplus)){
			}
			else{
				createLinkBox();			
			}
		}
	}
	function hideAnswerBox(clicked_id){
		
		var str=clicked_id;
		var radioid=str.substring(7);	
		
		$('#abox'+radioid).hide();
	}
	function showAnswerBox(clicked_id){
		
		var str=clicked_id;
		var radioid=str.substring(7);	
		
		$('#abox'+radioid).show();
	}
	
	function createAnswerBox(clicked_id){
		
		var str=clicked_id;
		var aboxid=str.substring(2);		
		var iaboxid=parseInt(aboxid);
		var aboxidplus=iaboxid+1;


		if(document.getElementById('qbox'+aboxid)===null){
			createQuestionBox("qbox"+aboxid);
		}
		if(document.getElementById('qbox'+aboxid)){
			$('#qbox'+aboxid).show();
		}
		if(document.getElementById('cbox'+aboxid)){
			$('#cbox'+aboxid).hide();
			$('#qbox'+aboxid).show();
		}		
		if(document.getElementById('abox'+aboxid)){
			var mchoicechecked=document.getElementById('mchoice'+aboxid);
			if(mchoicechecked.checked){
				$('#abox'+aboxid).show();
			}
		}
		else{
			var mchoicechecked=document.getElementById('mchoice'+aboxid);
			if(mchoicechecked.checked){
				var maindiv=document.getElementById('qbox'+aboxid);
				var answerdiv=document.createElement('div');
				answerdiv.id="abox"+aboxid;
						
				answerdiv.innerHTML='<table><tr><td><label>Possible Choices:</label></td></tr><tr><td><textarea name="choices'+aboxid+'" style="height:50px;background:#F0F8FF;" placeholder="e.g. a) 35 b) 350 c) 3.5"></textarea></td></tr><tr><td><label>Correct Choice:</label></td></tr><tr><td><textarea name="correct'+aboxid+'" style="height:30px;background:#F0F8FF;" placeholder="e.g. c"></textarea></td></tr></table>';			
				maindiv.appendChild(answerdiv);

	
				//check if a button already exists.if it doesn't create else,ignore
				if(document.getElementById('cb'+aboxidplus)){
				}
				else{
					createLinkBox();			
				}
			}								
		}
		
	}


	function createLinkBox(){
		var maindiv = document.getElementById('mydiv');
		var linkdiv=document.createElement('div');
		linkdiv.setAttribute('id','lbox'+lbox);

		var cbutton=document.createElement('a');
		cbutton.setAttribute('class','content_btn');
		cbutton.innerHTML="Content";
		cbutton.id="cb"+cb;	
		cbutton.setAttribute("onClick","createContentBox(this.id)");	
		var qbutton=document.createElement('a');
		qbutton.setAttribute('class','question_btn');
		qbutton.innerHTML="Question";
		qbutton.id="qb"+qb;
		qbutton.setAttribute("onClick","createQuestionBox(this.id)");	
		var abutton=document.createElement('a');
		abutton.setAttribute('class','answer_btn');
		abutton.innerHTML="Answer";
		abutton.id="ab"+ab;	
		abutton.setAttribute("onClick","createAnswerBox(this.id)");	
		
		linkdiv.appendChild(cbutton);
		linkdiv.appendChild(qbutton);
		linkdiv.appendChild(abutton);		
		maindiv.appendChild(linkdiv);

		cb+=1;
		qb+=1;
		ab+=1;
		lbox+=1;
	}
		
</script>	
	
</div>
<div style="margin-bottom:5px;margin-left:10%;">
		<input type="submit" value="Save Quiz" id="SaveQuiz" class="spruced_greyed_btn" style="font-size:1.8em;"/>

<script type="text/javascript">
	$('#SaveQuiz').click(function(e){
		$('#target').submit();
			return false;
	});
</script>
</div>
</form>



{% else %}
<div id="link_header">
  <h1>Editing > {{qunit.title}}</h1>
</div>

<div class="row">
  <div class="span12">
    <p>
      <a href="/programs/{{program.id}}">{{program.name}}</a> |
      <a href="/exams/{{exam.id}}">{{exam.title}}</a> |
      {{qunit.title}}
    </p>
    <form class="form" method="POST" action="/exams/qunits/{{qunit.id}}/update">
      {% csrf_token %}
      <input type="hidden" name="order" value="{{qunit.order}}">
      <label>Title:</label>
      <input type="text" value="{{qunit.title}}" name="title" class="inputtext">
      <label>Content Text:</label>
      <textarea rows="4" name="description">{{qunit.description}}</textarea>
      <button class="greyed_btn" type="submit">Update Unit</button>
    </form>
  </div>
</div>

{% endif %}

{% endblock %}

