{% extends 'base.html' %}

{% block title %} {{exam.title}} {% endblock %}

{% block content %}
<div id="link_header">   
	<h1><a href="/programs/{{program.id}}">{{program.name}}</a> | {{exam.title}}</h1>	
</div>
<div class="metadata">
	<b>Title:</b> {{exam.title}}<br/>
	<p><a class="spruced_yellow_btn" href="/exams/{{exam.id}}/edit">Edit This Unit</a></p>	
</div>
<hr style="height:5px;background:#F2EC8B;border:0;width:80%;margin-left:10%;margin-right:2%;"/>
<div class="metadata">
  <b>Add Unit Content and Questions</b><br><br/>
  <a class="spruced_yellow_btn" href="/exams/{{exam.id}}/qunit">Add </a>
</div>
<hr style="height:5px;background:#F2EC8B;border:0;width:80%;margin-left:10%;margin-right:2%;"/>

<div class="metadata">
	{% for qunit in exam.qunits.all %}
	<table width="100%">
    <tr colspan="2"><td><b><a href="/exams/qunits/{{qunit.id}}">{{qunit.title}}</a></b></td></tr>
		<tr colspan="2">
			<td rowspan="3" width="30%">
				{{qunit.description}}<br/>
				<b>Total texts:</b> {{qunit.text_count}}<br/>
				<p><a href="{{qunit.edit_url}}" class="spruced_yellow_btn">Edit</a> <a class="spruced_yellow_btn" href="{{qunit.del_url}}">Delete</a></p>	
			</td>
			<td width="70%">
				<table class="fancy_table">
					<tr><th>Question</th><th>Choices</th></tr>
					{% for q in qunit.questions.all %}
					<tr><td>{{q.text}}</td><td>{{q.choices}}</td></tr>
				        {% endfor %}
				</table>
			</td>			
		</tr>	
	</table>	
	{% endfor %}
</div>
{% endblock %}

