{% extends 'base.html' %}

{% block title %} {{program.programCode}} {% endblock %}

{% block content %}

<div class="metadata">
	<form method='POST' action='/courses/'> 
	{% csrf_token %}
	<b>Select Course:</b> <select name='course'>
			{% for program in programs %}
				<option value='{{program.id}}'>{{program.name}}</option>
			{% endfor %}
		</select>
	<button value='Submit name='Submit' class="spruced_yellow_btn">Submit</button>
	</form>
</div>

<div id="link_header">
	<b>{{program.name}}</b>
</div>

<div class="metadata">
	<b>Program Code:</b> {{program.programCode}}<br/>
        <b>Enrolled Students:</b> {{program.users.count}}
</div>
<div>
	<table class="fancy_table">
	<tr><th>Name</th><th>Start Time</th><th>End Time</th><th>Total Texts</th><th>Actions</th></tr>
	{% for exam in program.exams.all %}
		<tr><td><a href="/exams/{{exam.id}}">{{exam.title}}</td><td>{{exam.startTime}}</td><td>{{exam.endTime}}</td><td>{{exam.text_count}}</td>
		<td align="center">
          	<a href="/exams/{{exam.id}}/edit">Edit</a>
	        <a href="/exams/{{exam.id}}/delete">Delete</a>
        	</td>
		</tr>	
	{% endfor %}
	</table>
</div>
<div class="extra_buttons">
	<a class="spruced_yellow_btn" href="/programs/{{program.id}}/exam">Add Exam</a>
	<a class="spruced_yellow_btn" href="/programs/{{program.id}}/edit">Edit this Program</a>
</div>
    <p>
     
    </p>
  </div>
{% endblock %}

