{%extends "base.html"%}
{% block title %} Users {% endblock %}
{%block content%}

 
<script type="text/javascript" language="javascript" src="/static/assets/js/jquery.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#tbusers').dataTable( {
            "sPaginationType": "full_numbers"
        } );
    } );
</script>

<div id="link_header">
	<div id="big_head">User Profiles</div>
	<div id="small_head">Complete list of all users</div> 
</div>

<div class="metadata">
	{{ msg }}	
	
	<form action="addUser" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		 <span style="font-weight:bold;font-size:2em;">Add New Users: </span><input type="file" value="" name="file" /><input type="submit" value="Upload CSV" class="greyed_btn" />
        </form>
</div>
<div class="metadata" style="margin-bottom:3%;">
	<table border="0" cellpadding="0" cellspacing="0" style="font-size:0.9em;width:90%;border-collapse:collapse;" id="tbusers" class="pretty">	
	<thead>
		<tr><th>Surname</th><th>First Name</th><th>Phone</th><th>Birth Date</th><th>Course</th><th>Status</th>
		<th>Current Exam</th></tr>  
	</thead> 
	<tbody>
		{% for transfer in users %}
		<tr>
			<td>{{ transfer.firstname  }}</td>
			<td>{{  transfer.lastname  }} </td>
			<td><a href="/users/{{transfer.id}}">{{ transfer.phone }}</a></td>
			<td>{{ transfer.bday}}</td>
			<td>{{  transfer.program  }}</td>
			<td>{% if transfer.state == "done" %} <img src="/static/images/amber.png" width="20px" height="20px"/>  {% endif %}
			{% if  transfer.state == 'startExam'%} <img src="/static/images/red.png" width="20px" height="20px"/>{% endif %}
			{% if transfer.state == 'testing' %} <img src="/static/images/progress.png" width="20px" height="20px"/> {% endif %}
			{% if transfer.state == 'waitResponse' %} <img src="/static/images/progress.png" width="20px" height="20px"/> {% endif %}
			{% if transfer.state == 'noTime' %} <img src="/static/images/amber.png" width="20px" height="20px"/> {% endif %}
			{% if transfer.state == 'startQUnit' %} <img src="/static/images/red.png" width="20px" height="20px"/> {% endif %}
			{% if transfer.state == 'newExam' %} <img src="/static/images/red.png" width="20px" height="20px"/> {% endif %}
			{% if transfer.state == 'timesUp' %} <img src="/static/images/red.png" width="20px" height="20px"/> {% endif %}
			{% if transfer.state == 'bday' %} <img src="/static/images/red.png" width="20px" height="20px"/> {% endif %}
			{% if transfer.state == 'begin' %} <img src="/static/images/red.png" width="20px" height="20px"/> {% endif %}
			{% if transfer.state == 'RIFT VALLEY' %} <img src="/static/images/red.png" width="20px" height="20px"/> {% endif %}
		</td>
		<td>{{ transfer.currentExam }}</td>
		</tr>
		{% endfor %}
	</tbody>
	

	<tfoot>
		<tr><td>Surname</td><td>First Name</td><td>Phone</td><td>Birth Date</td><td>Course</td><td>Status</td>
		<td>Current Exam</td></tr>  
	</tfoot>
	</table>
</div>

{%endblock%}
