{% extends 'base.html' %}

{% block title %} View User {% endblock %}

{% block content %}

<div id="link_header">
  <h1>{{user.firstname}} {{user.lastname}}</h1>
</div>
<div class="metadata">
	<b>Name: </b>{{user.firstname}} {{user.lastname}}<br/>
	<b>Birth Date: </b>{{user.bday}}<br/>
	<b>Phone: </b>{{user.phone}}<br/>	
	<b>State: </b>{{user.state}}<br/>
</div>

<hr style="height:5px;background:#F2EC8B;border:0;width:80%;margin-left:10%;margin-right:2%;"/>

<div class="metadata">
	<h3>RESPONSES</h3>
	<table class="fancy_table">
		<tr><th>Question</th><th>Choices</th><th>Correct</th><th>Response</th></tr>
		{% for resp in responses %}
		<tr>						
			<td>{{resp.question.text}}</td>
			<td>{{resp.question.choices}}</td>
			<td>{{resp.question.correct}}</td>
				{% if resp.correct %}
				<td><img src="/static/images/right.png"/></td>
				{% else %}
				<td><img src="/static/images/wrong.png"/></td>
				{% endif %}			
		</tr>
		{% endfor %}	
	</table>

	<h3>SCORE CARD</h3>
	<table class="fancy_table">		
		<tr><th>Exam</th><th>Score</th></tr>
		{% for exam in exams %}
		<tr>
			<td><a href="/exams/{{exam.id}}">{{exam.title}}</a></td>
			<td>{{exam.score}}</td>
		</tr>
		{% endfor %}
	</table>
	
		
	
</div>
<div id="mini_header">
		<h3>INTERACTIVE</h3>
</div>
<div class="metadata_advanced">
	<table class="interactive_tb" width="80%;">
		{% for resp in responses %}
		<tr>
<td style="background:#4F4F4F;width:39%;">
<span style="color:#F2EC8B;font-size:1.1em;font-weight:bold;">gMaarifa sent at 10:30am</span><br/>
					<span>{{resp.question.text}}</span><br/>	
					<span>{{resp.question.choices}}</span>
</td>
<td style="width:2%;"></td>
<td style="background:#EAEAEA;color:#808080;width:39%;">
<span style="font-weight:bold;">{{user.firstname}} {{user.lastname}} sent at 10:50am</span><br/>
<span style="">on 12-Jan-2013</span><br/>
<span style="color:#000;font-weight:bold;">{{resp.text}}</span><br/>
<span></span>
</td>
</tr>
<tr><td></td></tr>
		{% endfor %}
							
	</table>
</div>

{% endblock %}
