{% extends 'base.html' %}

{% block title %} View Question {% endblock %}

{% block content %}
<div id="link_header">
	<h1>Question View</h1>
	<p>
		<b><a href="/programs/{{program.id}}">{{program.name}}</a> | </b> 
		<b><a href="/exams/{{exam.id}}">{{exam.title}}</a> | </b> 
		<b>{{qunit.title}}</b> 
	</p>
</div>

<div class="metadata">
	<b>Question: </b>{{question.text}}<br/>
	<b>Choices: </b>{{question.choices}}<br/>
	<b>Answer: </b>{{question.correct}}<br/>
</div>

<hr style="height:5px;background:#F2EC8B;border:0;width:80%;margin-left:10%;margin-right:2%;"/>

<div class="metadata">
	<h3>Results Statistics</h3>
	<h5>Got it Right</h5>
		<table class="fancy_table">
			<tr><th>Phone Number</th><th>First Name</th><th>Last Name</th><th>Birth Day</th></tr>
			{% for user in rights %}
			<tr>
				<td><a href="/users/{{user.id}}">{{user.phone}}</a></td>
				<td>{{user.firstname}}</td>
				<td>{{user.lastname}}</td>
				<td>{{user.bday}}</td>
			</tr>
			 {% endfor %}
		</table>
	<h5>Got it Wrong</h5>
		<table class="fancy_table">
			<tr><th>Phone Number</th><th>First Name</th><th>Last Name</th><th>Birth Day</th></tr>
			{% for user in wrongs %}
			<tr>
				<td><a href="/users/{{user.id}}">{{user.phone}}</a></td>
				<td>{{user.firstname}}</td>
				<td>{{user.lastname}}</td>
				<td>{{user.bday}}</td>
			</tr>
			 {% endfor %}
		</table>
</div>

{% endblock %}
