<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Livescores</title>
		<meta name="description" content="" />
		
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		
			 <!-- Le styles -->					
		<link rel="stylesheet" href="../../assets/css/font-awesome.css">
	    <link href="../../assets/css/bootstrap.css" rel="stylesheet">	    
	    <link rel="stylesheet" href="../../assets/css/ca7368fa967d.css" type="text/css" />
	    <link href="../../assets/css/style.css" rel="stylesheet">
	     
		 <!-- Le javascript -->
    <script  type="text/javascript" src="../assets/js/jquery-1.5.2.min.js"></script>
    <script  type="text/javascript" src="../assets/js/google-code-prettify/prettify.js"></script>
    <script>$(function () { prettyPrint() })</script>
    <script  type="text/javascript" src="../../assets/js/bootstrap-dropdown.js"></script>
    <script  type="text/javascript" src="../../assets/js/bootstrap-twipsy.js"></script>
    <script  type="text/javascript" src="../../assets/js/bootstrap-scrollspy.js"></script>
    <script  type="text/javascript" src="../../assets/js/application.js"></script>
    <script  type="text/javascript" src="../../assets/js/bootstrap-tabs.js"></script>
    <script  type="text/javascript" src="../../assets/js/bootstrap.js"></script>
    
  
		
		<!-- Start WOWSlider.com HEAD section -->	
	<link rel="stylesheet" type="text/css" href="../../assets/engine1/style.css" />
	<script type="text/javascript" src="../../assets/engine1/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->
    
		       
	</head>
	<body>
		<br>
	
		    <div class="topbar">
		      <div class="fill">
		        <div class="container">	          
		                
						 <ul class="nav nav-tabs">
						 
						 			<li><a class="brand" href="#">Livescores</a>  </li>						 			
									<li><a href="/home"><i class="icon-home lead"></i>Home</a></li> 
									<li><a href="#"> <i class="icon-signin lead"></i>Login </a></li>
									<li><a href="#"><i class="icon-user-md lead"></i>Sign Up </a></li>
									<li><a href="#"><i class="icon-user-md lead"></i>Inspiring Quotes </a></li>
									<li><a href="/manu_news"><i class="icon-question-sign lead"></i>Manu News</a></li>	
									<li><a href="/manu_fans"><i class="icon-question-sign lead"></i>Manu Fans</a></li>		
									<li><a href="/#"><i class="icon-envelope lead"></i>Contact Us </a></li>
									<strong style="color: red">Beta</strong>
									
						</ul>
						
				        </div>
				      </div>
				    </div> 
				    
				    
				  <div class="container">
				    <div class="row">				     					
							<div class="container">				
								<header >
						    		<!-- Start WOWSlider.com BODY section -->
									<div id="wowslider-container1">
									<div class="ws_images"><ul>
									<li><img src="../../assets/data1/images/vincent_maraba.jpg" alt="vincent_maraba" title="vincent_maraba" id="wows1_0"/></li>
									<li><img src="../../assets/data1/images/wp_000037.jpg" alt="WP_000037" title="WP_000037" id="wows1_1"/></li>
									<li><img src="../../assets/data1/images/wp_000013.jpg" alt="WP_000013" title="WP_000013" id="wows1_2"/></li>
									<li><img src="../../assets/data1/images/wp_000043.jpg" alt="WP_000043" title="WP_000043" id="wows1_3"/></li>
									</ul></div>
								
									<div class="ws_bullets"><div>
									<a href="#" title="vincent_maraba"><img src="../../assets/data1/tooltips/vincent_maraba.jpg" alt="vincent_maraba"/>1</a>
									<a href="#" title="WP_000037"><img src="../../assets/data1/tooltips/wp_000037.jpg" alt="WP_000037"/>2</a>
									<a href="#" title="WP_000013"><img src="../../assets/data1/tooltips/wp_000013.jpg" alt="WP_000013"/>3</a>
									<a href="#" title="WP_000043"><img src="../../assets/data1/tooltips/wp_000043.jpg" alt="WP_000043"/>4</a>
									</div></div>
									<a class="wsl" href="http://wowslider.com">HTML5 Gallery Template by WOWSlider.com v2.5</a>
									<div class="ws_shadow"></div>
									</div>
									<script type="text/javascript" src="../../assets/engine1/wowslider.js"></script>
									<script type="text/javascript" src="../../assets/engine1/script.js"></script>
									<!-- End WOWSlider.com BODY section -->
								</header>
							</div>
		
				    
				    <div class="container">
					
							{%block content%}
							
							
							
							
							{%endblock%}
				    </div>
							
							
			<div style="vertical-align:bottom; margin:0 20px 0 80px">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://asap.org" data-text="Student development in Africa" data-via="asap" data-related="asap">Tweet</a>
				<script>
				  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);
					js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}
					(document,"script","twitter-wjs");
				</script>
			</div>
			    			
			<div class="container">	
			<footer>
				<strong style="color: blue ">&copy; 2012 Innova Africa Group Ltd. </strong>
				<a align="centre"> Terms and Conditions</a>
				<g:plusone size="medium" annotation="inline" width="120" href="http://pesatracker.com"></g:plusone>				
				<a href="https://twitter.com/pesatracker" class="twitter-follow-button" data-show-count="false">Follow @pesatracker</a>
				<script>
					!function(d,s,id)
					{
				      var js,fjs=d.getElementsByTagName(s)[0];
					  if(!d.getElementById(id))
						{js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";
						fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			    </script>
							
			   <div class="fb-like" data-href="http://facebook.com/pesatracker" data-send="true" data-width="100" 
					data-show-faces="true" data-layout="button_count">	</div>		
									<br><br><br><br>	
			
			</footer>
			</div>
						
	
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=121498701266437";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17714404-3']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);

    
    _gaq.push(['_setCustomVar', 1, 'Logged in', 'false', 2]);
    _gaq.push(['_setCustomVar', 2, 'Member', 'false', 1]);
    _gaq.push(['_setCustomVar', 4, 'Join month', '0', 1]);
    _gaq.push(['_setCustomVar', 5, 'Join year', '0', 1]);
    
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>


    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <script src="./pesa tracker - achieve more with mobile money/32208237.js"></script>
    
    <!-- JavaScript for g+ and facebook -->	

 <!--
 	image Slider Script
 	-->
 	<script type="text/javascript">
		$(document).ready(function() {
		$('#coin-slider').coinslider({ navigation: true, height: 300, width:800, spw: 1, spw: 1, delay: 5000 });
		});
	</script>
		 
	</body>
</html>
					
