<html> 
	<head> 
	<title>Hillside GG Ltd</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head> 

<body> 
	
	<!--    third page                         -->
	<div data-role="page" id='three'> 
		<div data-role="header" >
			<h3>Agro Manager </h3>
		</div>
		<div data-role="navbar"><ul>
			<li> <a href="/agromanager/create_login/" data-icon="home">Back to Home</a> </li></ul>
		</div>
		<div data-role="content">
		
			<form action="/agromanager/create_distribute/" method="POST" data-ajax="false"  >
				 {% csrf_token %}
				<label for="basic">Farmer Name:</label>
				<select name="farmer_id" data-mini="true">
				{% for farmer in supplier %}
				<option value={{farmer.id}}>{{farmer.name}}</option>
				{% endfor %}
				</select>
				<label for="basic">Distribution Date:</label>
				<input type="date" name="distribution_date" id="distribution_date" value=""  />
				<br>				
				<label for="basic">Seed Crop:</label>
				<select name="seed" data-mini="true">
				{% for product in products %}
				<option value={{product.id}}>{{product.name}}</option>
				{% endfor %}
				</select>
				<label for="basic">Variety:</label>
				<select name="variety" data-mini="true">
				{% for variety in varieties %}
				<option value={{variety.id}}>{{variety.name}}</option>
				{% endfor %}
				</select>
				<label for="basic">Seed Lot No:</label>
				<input name="seed_lot_no" type="text" data-mini="true"/>
				<label for="basic">Weight(Kg):</label>
				<input name="weight" type="text" data-mini="true"/>
				<label for="basic">Expected Harvest Date:</label>
				<input type="date" name="date" id="date" value=""  />
				<br>
				<input type="submit" data-icon="check" data-theme="b" data-inline="true" value="Submit" />
			</form>
		</div> 
		<div data-role="footer">
			<strong  ">&copy; 2012 Hillside G Growers Ltd. </strong>	
		</div> 
	</div> 
</body>
</html>

