<!DOCTYPE html> 
<html> 
	<head> 
	<title>Hillside GG Ltd</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head> 

<body> 
	
	<!--    third page                         -->
	<div data-role="page" id='three'> 
		<div data-role="header" >
			<h3>Agro Manager </h3>
		</div>
		<div data-role="navbar"><ul>
			<li> <a href="/agromanager/create_login/" data-icon="home">Back to Home</a> </li></ul>
		</div>
		<div data-role="content">

			{{msg}}			
			<form action="/agromanager/scout2/" method="POST" data-ajax="false"  >
				 {% csrf_token %}	
				<label for="basic">Select Farmer:</label>
				<select name="farmer_id" data-mini="true">
				{% for farmer in supplier %}
				<option value={{farmer.id}}>{{farmer.name}}</option>
				{% endfor %}
				</select>
				<input type="submit" data-icon="check" data-theme="b" data-inline="true" value="Submit" />
			</form>
		</div> 
		<div data-role="footer">
			<strong  ">&copy; 2012 Hillside G Growers Ltd. </strong>	
		</div> 
	</div> 
</body>
</html>

