<!DOCTYPE html> 
<html> 
	<head> 
	<title>Hillside GG Ltd</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head> 

<body> 
	
	<!--    third page                         -->
	<div data-role="page" id='three'> 
		<div data-role="header" >
			<h3>Agro Manager </h3>
		</div>
		<div data-role="navbar"><ul>
			<li> <a href="#one" data-icon="home">Back to Home</a> </li></ul>
		</div>
		<div data-role="content">

					
			<form action="/agromanager/add_farmer/" method="POST" data-ajax="false"  >
				 {% csrf_token %}

				<label for="basic">Supplier Name:</label>
				<input type="text" name="name" id="name" data-mini="true" />
				<label for="basic">Phone No:</label>
				<input type="text" name="phone" id="phone" data-mini="true" />
				<label for="basic">Mobile No:</label>
				<input type="text" name="mobile" id="mobile" data-mini="true" />
				<input type="submit" data-icon="check" data-theme="b" data-inline="true" value="Submit" />
			</form>
		</div> 
		<div data-role="footer">
			<strong  ">&copy; 2012 Hillside G Growers Ltd. </strong>	
		</div> 
	</div> 
</body>
</html>

