<html>
<head>
		 <!-- Le styles -->					
		
		<!-- Le javascript -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>

    
</head>
<body>
	<br>
		<div class="topbar">
		      <div class="fill">
		        <div class="container">	 
					 <ul class="nav nav-pills nav-stacked">
						 	<li><a class="brand" href="#">Livescores</a>  </li>						 			
							<li><a href="/home"><i class="icon-home lead"></i>Home</a></li> 
							<li><a href="#"> <i class="icon-signin lead"></i>Login </a></li>
							<li><a href="#"><i class="icon-user-md lead"></i>Sign Up </a></li>
							<li><a href="#"><i class="icon-user-md lead"></i>Inspiring Quotes </a></li>
							<li><a href="/manu_news"><i class="icon-question-sign lead"></i>Manu News</a></li>	
							<li><a href="/manu_fans"><i class="icon-question-sign lead"></i>Manu Fans</a></li>		
							<li><a href="/#"><i class="icon-envelope lead"></i>Contact Us </a></li>
							<strong style="color: red">Beta</strong>									
					</ul>
				  </div>
			 </div>
		</div>

	  <div class="container">
		<form action="xmlrpc" method="POST">
		 {% csrf_token %}
		<label for="basic">Session Name:</label>
		<input type="text" name="name" id="name" data-mini="true" />
		<label for="basic">Seats No:</label>
		<input type="text" name="seats" id="seats" data-mini="true" />
		<input type="submit" data-icon="check" data-theme="b" data-inline="true" value="Submit" />
		</form>
	</div>

	<div class="container">	
		<footer>
			<strong style="color: blue ">&copy; 2012 Hillside G Growers Ltd. </strong>			
		</footer>
	</div>
</body>					
</html>


