<!DOCTYPE html> 
<html> 
	<head> 
	<title>gMaarifa Web</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head> 

<body> 
	<div data-role="page" id='one'> 
		<div data-role="header">
			<h3>gMaarifa Courses </h3>
		</div>
			<p style='color: green'>{{ message }} </p>
			<p style='color: red'>{{ error }} </p>
		<div data-role="navbar">
	Please answer the questions below and click on Submit <br/><br/>
		<p style='color': green>Current Course: Mathematics </p>
		
	
		<form action="/agromanager/create_scouting/" method="POST" data-ajax="false"  >
				 {% csrf_token %}	
				<label for="basic">Question:</label><br/>
					
				<label for="basic">Answer:</label><br/>		
				<textarea type="text" name="answer" id="answer_id" width='10' >
				</textarea>		
				<input type="submit" data-icon="check" data-theme="b" data-inline="true" value="Submit" />
			</form>
		</div> 
		<div data-role="footer" data-theme="b">
			<strong">&copy; 2013 gMaarifa Inc. </strong>	
		</div> 
	</div> 
	
</body>
</html>

