<!DOCTYPE html>
<html> 
	<head> 
	<title>Hillside GG Ltd</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		 <link rel="stylesheet" src="http://code.jquery.com/mobile/1.1.1/jquery.ui.datepicker.mobile.css" /> 
  <script src="http://code.jquery.com/mobile/1.0a4.1/jQuery.ui.datepicker.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.1/jquery.ui.datepicker.mobile.js"></script>

	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>


</head> 

<body> 
	
	<!--    third page                         -->
	<div data-role="page" id='three'> 
		<div data-role="header" >
			<h3>Agro Manager </h3>
		</div>		
		<div data-role="content">	
				{{ msg }}		
			<form action="/agromanager/create_login/" method="POST" data-ajax="false"  >
				 {% csrf_token %} 
				<label for="basic">User Name:</label>				
				<input name="username" type="text" data-mini="true">
				<label for="basic">Password:</label>
				<input name="password" type="password" data-mini="true">
				<input type="submit" data-icon="check" data-theme="b" data-inline="true" value="Submit" />
			</form>
		</div> 
		<div data-role="footer">
			<strong  ">&copy; 2012 Hillside G Growers Ltd. </strong>	
		</div> 
	</div> 
</body>
</html>

