<!DOCTYPE html>
<html> 
	<head> 
	<title>Hillside GG Ltd</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		 <link rel="stylesheet" src="http://code.jquery.com/mobile/1.1.1/jquery.ui.datepicker.mobile.css" /> 
  <script src="http://code.jquery.com/mobile/1.0a4.1/jQuery.ui.datepicker.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.1/jquery.ui.datepicker.mobile.js"></script>

	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>


</head> 

<body> 
	
	<!--    third page                         -->
	<div data-role="page" id='three'> 
		<div data-role="header" >
			<h3>Agro Manager </h3>
		</div>
		<div data-role="navbar"><ul>
			<li> <a href="/agromanager/create_login/" data-icon="home">Back to Home</a> </li></ul>
		</div>
		<div data-role="content">
		
			<form action="/agromanager/create_planting/" method="POST" data-ajax="false"  >
				 {% csrf_token %}	
				<label for="basic">Farmer Name :  {{farmer_name}}</label> 
				<input type="hidden" name="farmer_id" id="farmer_id" value={{farmer_id}}  /> <br/>
				<label for="date">Planting Date:</label>
				<input type="date" name="date" id="date" value=""  />
				<label for="basic">Crop Name:</label>
				<select name="crop" data-mini="true">
				{% for crop in products %}
				<option value={{crop.id}}>{{crop.name}}</option>
				{% endfor %}
				</select>
				<label for="basic">Variety:</label>
				<select name="variety" data-mini="true">
				{% for variety in varieties %}
				<option value={{variety.id}}>{{variety.name}}</option>
				{% endfor %}
				</select>
				<label for="basic">Planted:</label>
				<select name="planted" data-mini="true">
				<option value='yes'>YES</option>
				<option value='no'>NO</option>
				</select>
				<label for="basic">Planting Method:</label><br>
				<select name="method" data-mini="true">
				{% for plant in planting %}
				<option value={{plant.id}}>{{plant.name}}</option>
				{% endfor %}
				</select>
				<label for="basic">Planting Rate (weeks):</label>
				<input name="rate" type="text" data-mini="true">
				<label for="basic">Block:</label>
				<select name="block" data-mini="true">
				{% for plant in blocks %}
				<option value={{plant.id}}>{{plant.name}}</option>
				{% endfor %}
				</select>
				<label for="basic">Seed Quantity (Kg):
				</label>
				<input type="text" name="weight" id="original_amount" data-mini="true" />
				<label for="basic">Seed Distribution Ref:</label>
				<select name="distribution_id" data-mini="true">
				{% for distrib in distribution %}
				<option value={{distrib.id}}>{{distrib.name}}</option>
				{% endfor %}
				</select>	
				<input type="submit" data-icon="check" data-theme="b" data-inline="true" value="Submit" />
			</form>
		</div> 
		<div data-role="footer">
			<strong  ">&copy; 2012 Hillside G Growers Ltd. </strong>	
		</div> 
	</div> 
</body>
</html>

