<!DOCTYPE html> 
<html> 
	<head> 
	<title>Hillside GG Ltd</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head> 

<body> 
	
	<!--    third page                         -->
	<div data-role="page" id='three'> 
		<div data-role="header" >
			<h3>Agro Manager </h3>
		</div>
		<div data-role="navbar"><ul>
			<li> <a href="/agromanager/create_login/" data-icon="home">Back to Home</a> </li></ul>
		</div>
		<div data-role="content">

			{{msg}}			
			<form action="/agromanager/create_purchase_order/" method="POST" data-ajax="false"  >
				 {% csrf_token %}	
							
				<label for="basic">Farmer Name :  {{farmer_name}}</label> 
				<input type="hidden" name="farmer_id" id="farmer_id" value={{farmer_id}}  /> <br/>
				<label for="date">Date:</label>
				<input type="date" name="date" id="date" value=""  />	
				<!--
				<select name="farmer_id" data-mini="true">
				{% for farmer in supplier %}
				<option value={{farmer.id}}>{{farmer.name}}</option>
				{% endfor %}
				</select> -->
				<label for="basic">Address</label>
				<select name="address" data-mini="true">
				{% for address in partner_address_id %}
				<option value={{address.id}}>{{address.city}}</option>
				{% endfor %} -->
				</select>
				<label for="basic">Produce</label>
				<select name="produce" data-mini="true">
				{% for product in products %}
				<option value={{product.id}}>{{product.name}}</option>
				{% endfor %}
				</select>
				<label for="basic">Pricelist:</label>
				<select name="pricelist_id" data-mini="true">
				{% for price in pricelist %}
				<option value={{price.id}}>{{price.name}}</option>
				{% endfor %}
				</select>	
				<label for="basic">Original Weight (Kg)</label>
				<input type="text" name="original_weight" id="original_weight" data-mini="true" />	
				<label for="basic">Quality Checks</label> 
				{% for check in quality_checks %}
					<input type="checkbox" name="quality" id={{check.id}}  class="custom" value={{check.id}} data-mini="true" />
					<label for={{check.id}} >{{check.name}}</label>
				{% endfor %}
				</br>
				<label for="basic">Actual Weight (Kg)</label>
				<input type="text" name="weight" id="weight" data-mini="true" /> 				
				<label for="basic">Rejection Reason</label>
				<input type="text" name="rejection_reason" id="rejection_reason" />				
				<label for="basic">Planting Ref:</label>
				<select name="planting_code" data-mini="true">
				{% for code in planting_code %}
				<option value={{code.name}}>{{code.name}}</option>
				{% endfor %}
				</select>
				<input type="submit" data-icon="check" data-theme="b" data-inline="true" value="Submit" />
			</form>
		</div> 
		<div data-role="footer">
			<strong  ">&copy; 2012 Hillside G Growers Ltd. </strong>	
		</div> 
	</div> 
</body>
</html>

