<html> 
	<head> 
	<title>Hillside GG Ltd</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head> 

<body> 
	
	<!--    third page                         -->
	<div data-role="page" id='three'> 
		<div data-role="header" >
			<h3>Agro Manager </h3>
		</div>
		<div data-role="navbar"><ul>
			<li> <a href="/agromanager/create_login/" data-icon="home">Back to Home</a> </li></ul>
		</div>
		<div data-role="content">
		
			<form action="/agromanager/create_scouting/" method="POST" data-ajax="false"  >
				 {% csrf_token %}	
				<label for="basic">Farmer Name :  {{farmer_name}}</label> 
				<input type="hidden" name="farmer_id" id="farmer_id" value={{farmer_id}}  /> <br/>
				<label for="date">Scouting Date:</label>
				<input type="date" name="date" id="date" value=""  /> <!--
				<label for="basic">Farmer Name:</label>
				<select name="farmer_id" data-mini="true">
				{% for farmer in supplier %}
				<option value={{farmer.id}}>{{farmer.name}}</option>
				{% endfor %}
				</select> -->				
				<label for="basic">Planting Ref:</label>
				<select name="planting_code" data-mini="true">
				{% for code in planting_code %}
				<option value={{code.id}}>{{code.name}}</option>
				{% endfor %}
				</select>
				 <!--
				<label for="basic">Production Lot:</label>
				<select name="prod_id" data-mini="true">
				{% for prod in prodlot_id %}
				<option value={{prod.id}}>{{prod.name}}</option>
				{% endfor %}
				</select> -->
				<label for="basic">Block:</label>
				<select name="block_id" data-mini="true">
				{% for block in blocks %}
				<option value={{block.id}}>{{block.name}}</option>
				{% endfor %}
				</select>
				<label for="basic">Pests:</label>
				<select name="pests" data-mini="true">
				{% for pest in pests %}
				<option value={{pest.id}}>{{pest.name}}</option>
				{% endfor %}
				</select>
				<label for="basic">Diseases:</label>
				<select name="diseases" data-mini="true">
				{% for disease in diseases %}
				<option value={{disease.id}}>{{disease.name}}</option>
				{% endfor %}
				</select>
				<label for="basic">Need to Water?:</label>
				<select name="water" data-mini="true">
				<option value='yes'>YES</option>
				<option value='no'>NO</option>
				</select>
				<label for="basic">Beneficial Insects:</label><br>
				<select name="insects" data-mini="true">
				{% for insect in insects %}
				<option value={{insect.id}}>{{insect.name}}</option>
				{% endfor %}
				</select>
				<label for="basic">Weeding Required:</label><br>
				<select name="weeding" data-mini="true">
				<option value='yes'>YES</option>
				<option value='no'>NO</option>
				</select>
				<label for="basic">Pesticide:</label>
				<select name="pesticides" data-mini="true">
				{% for pesticide in pesticides %}
				<option value={{pesticide.id}}>{{pesticide.name}}</option>
				{% endfor %}
				</select>				
				<label for="basic">Pesticide Quantity (ml):
				</label><input type="text" name="amount" id="original_amount" data-mini="true" />	
				<label for="basic">Fertilizer:</label>
				<select name="fertilizer" data-mini="true">
				{% for fertile in fertilizer %}
				<option value={{fertile.id}}>{{fertile.name}}</option>
				{% endfor %}
				</select>
				<input type="submit" data-icon="check" data-theme="b" data-inline="true" value="Submit" />
			</form>
		</div> 
		<div data-role="footer">
			<strong  ">&copy; 2012 Hillside G Growers Ltd. </strong>	
		</div> 
	</div> 
</body>
</html>

