<html>
<body>
	<form action="create_purchase_order" method="POST">
	 {% csrf_token %}
	<br><br>
	Supplier Name: <input type="text" name="name" /> <br><br>
	Phone No: <input type="text" name="phone" /><br><br>
	Mobile No: <input type="text" name="mobile" /><br><br>
	<input type="submit" />
	</form>
</body>
</html>
