{%extends "base_template.html"%}
{%block content%}

<form action="xmlrpc" method="POST" data-ajax="false"  >
	 {% csrf_token %}
	<label for="basic">Supplier Name:</label>
	<input type="text" name="name" id="name" data-mini="true" />
	<label for="basic">Phone No:</label>
	<input type="text" name="phone" id="phone" data-mini="true" />
	<label for="basic">Mobile No:</label>
	<input type="text" name="mobile" id="mobile" data-mini="true" />
	<input type="submit" data-icon="check" data-theme="b" data-inline="true" value="Submit" />
</form>

{%endblock%}
