<!DOCTYPE html> 
<html> 
	<head> 
	<title>Hillside GG Ltd</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head> 

<body> 
	
	<!--    third page                         -->
	<div data-role="page" id='three'> 
		<div data-role="header" >
			<h3>Agro Manager </h3>
		</div>
		<div data-role="navbar"><ul>
			<li> <a href="/agromanager/create_login/" data-icon="home">Back to Home</a> </li></ul>
		</div>
		<div data-role="content">

			{{msg}}			
			<form action="/agromanager/create_transport/" method="POST" data-ajax="false"  >
				 {% csrf_token %}	
				<label for="date">Date:</label>
				<input type="date" name="date" id="date" value=""  />
				<label for="basic">Driver Name : </label> 
				<select name="name" data-mini="true">
				{% for product in drivers %}
				<option value={{product.id}}>{{product.name}}</option>
				{% endfor %} -->
				</select><br/>
				<label for="basic">Farm :  </label>
				<select name="farm" data-mini="true">
				{% for product in farms %}
				<option value={{product.id}}>{{product.name}}</option>
				{% endfor %} -->
				</select><br/>
				<!--
				<label for="basic">Agronomist Name :  </label> 
				<input type="text" name="agronomist" id="agronomist" value="" /> <br/> -->
				<label for="basic">Product :  </label> 
				<select name="product" data-mini="true">
				{% for product in products %}
				<option value={{product.id}}>{{product.name}}</option>
				{% endfor %} -->
				</select>
				<label for="basic">Weight (Kg):  </label> 
				<input type="text" name="weight" id="weight" value=""  /> <br/>
								
				
				<input type="submit" data-icon="check" data-theme="b" data-inline="true" value="Submit" />
			</form>
		</div> 
		<div data-role="footer">
			<strong  ">&copy; 2012 Hillside G Growers Ltd. </strong>	
		</div> 
	</div> 
</body>
</html>

