{% extends 'base.html' %}

{% block title %} Courses {% endblock %}

{% block content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
$( "#accordion" ).accordion();
});
</script>

<div id="link_header">
	<div id="big_head">
		Documentation
	</div>
	<div id="small_head">
		How the system works</b>
	</div> 
</div>
<div style="margin:2% 10% 2% 10%;">
	g.Maarifa offers an interactive platform that allows delivery of a high volume of content, evaluates and monitors the end users’ progress, and manages data with a user-friendly interface. Our platform combines the reach of simple SMS texting with a robust data analytics back-end to engage vast numbers of end users. Using our extensive experience on the ground, we help clients with content customization, evaluation, and data management based on their specific needs and goals.</p>

The system has two sides:
<ul>
	<li><b>a) Frontend - User interaction</b></li><br/>
	<li><b>b) Backend - Analytics and Administration</b></li></br>
</ul>
</div>
<div class="metadata" style="margin-bottom:2%;">
	<div id="accordion">
		<h3>Frontend</h3>
		<div>
		<p>
			The user can carry out three functions:<br/>
			a) Register for a course<br/>
			b) Receive content and questions of a registered course<br/>
			c) Respond to questions<br/>
		<img src="/static/images/screenshots/1.png"/><img src="/static/images/screenshots/2.png"/><img src="/static/images/screenshots/3.png"/><img src="/static/images/screenshots/4.png"/><img src="/static/images/screenshots/5.png"/><img src="/static/images/screenshots/6.png"/><img src="/static/images/screenshots/7.png"/>			
		</p>
		</div>
		<h3>Backend</h3>
		<div>
		<p>
			The administrator can carry out the following functions:<br/>
			a) Create courses, content and questions<br/>
			b) Can view the performance analytics<br/>
			c) Can view reports<br/>
			d) Can view user interaction with the system</p>
			
			This section has 5 main sections:<br/>
			<b>1. Courses</b><br/>
				Here the client can create courses, create content and questions.<br/>
			<b>2. Reports</b><br/>
				The client can view summary reports on how the users have performed in all courses and units provided by the client.<br/>
			<b>3. Performance Analytics</b><br/>
				The client can view summary system analytics in the form of charts.<br/>
			<b>4. Users</b><br/>
				The client can view how a user has interacted with the system.e.g. how the user has answered questions and performed in all units.<br/>
			<b>5. Mock Console</b><br/>
				Provides client with a summary log of user interaction with the system.</p>


		For more information on how to use the system, <a href="/static/images/screenshots/gDocumentation.pdf" style="color:#0000CD;">click here(PDF link)!</a>
		</div>
	</div>
</div>

{% endblock %}
