{% extends 'base.html' %}

{% block title %} Exams {% endblock %}

{% block content %}

{% for p in programs %}
<div class="row">
  <h1>{{p.name}}</h1>
  <table>
    <th>Exam Name</th>
  </table>
</div>
{% endfor %}

{% endblock %}