
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; g.Maarifa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <link href="/static/css/style.css" rel="stylesheet">
	
   
  </head>

  <body>
	
<div id="wrapper">	
	<div id="mainheader">
		<div id="logo">
			<img src="/static/images/gmaarifasmall.png" width="150px" height="50px"/>				
		</div>		
	</div>
	<div id="content">		
		<form method="POST" action="/login">
     		{% csrf_token %}	
			
		<table class="logintable" width="500px">
			<tr>
				<td rowspan="8"><img src="/static/images/gicon.png" height="200px" width="250px"/></td>
				<td class="description" colspan="2">Sign in to g.Maarifa</td>
			</tr>	
			<tr><td><label>Email or Username:</label></td></tr>
			<tr><td><input type="text" name="user" class="inputtext"></td></tr>
			<tr><td><label>Password:</label></td></tr>
			<tr><td><input type="password" name="pass" class="inputtext"></td></tr>			
			<tr><td align="center"><button class="greyed_btn" style="width:122px;padding:2%;">Login</button></td></tr>
			<tr><td class="alinked" align="center"><a href=""><b>Forgot your password?</b></a></td></tr>
	
		</table>  
		</form>
	</div>
	<div id="footer">
		&copy; 2013 g.Maarifa.All rights reserved
	</div>
</div>	

  </body>
</html>
