{% extends 'base.html' %}

{% block title %} Manage Exams {% endblock %}

{% block content %}

<div class="tab-content">

	<div class="tabbable">

        <ul class="nav nav-tabs">
        <li class="active"><a href="#1" data-toggle="tab">Add Exam Group</a></li>
        <li ><a href="#2" data-toggle="tab">Generate Codes</a></li>
        <li ><a href="#3" data-toggle="tab">View Codes</a></li>
        </ul>
        
        <div class="tab-content">
        
        <div class="tab-pane active" id="1">
        
        <h3>Add</h3>

          <form class="well form-inline" method="post" id="addadminexam" action="addadminexam"><div style='display:none;'><input type='hidden' id='csrfmiddlewaretoken' name='csrfmiddlewaretoken' value='279266345425cd3ac9c43ae365c0428e' /></div>
            <select name = "examname" >
                  
                  <option value="Entrepreneurship">Entrepreneurship</option>
                  
                  <option value="Entrepreneurship-Holistic">Entrepreneurship-Holistic</option>
                  
                  <option value="Entrepreneurship Final Exam">Entrepreneurship Final Exam</option>
                  
                  <option value="test">test</option>
                  
            </select>
            <input type="text" class="input-small" name="tag" placeholder="Tag">
            Start Date
            <div class="input-append date" id="dp4" data-date="2012-12-24" data-date-format="yyyy-mm-dd">
              <input class="spantime" size="12" type="text" value="2012-12-24" name="startdate" readonly>
              <span class="add-on"><i class="icon-th"></i></span>
            </div>
            Start Time
            <div class="input-append bootstrap-timepicker-component">
              <input class="dropdown-timepicker input-mini2" type="text" name="starttime" readonly><span class="add-on"><i class="icon-time"></i></span>
            </div>

             Finish Date
            <div class="input-append date" id="dp5" data-date="2012-12-24" data-date-format="yyyy-mm-dd">
              <input class="spantime" size="12" type="text" value="2012-12-24" name="finishdate" readonly>
              <span class="add-on"><i class="icon-th"></i></span>
            </div>
            Finish Time
            <div class="input-append bootstrap-timepicker-component">
              <input class="dropdown-timepicker input-mini2" type="text" name="finishtime" readonly><span class="add-on"><i class="icon-time"></i></span>
            </div>
            

            <button type="submit" class="btn"><i class="icon-plus"></i> Add Exam Group</button>
          </form>

          <h3>Current Exams</h3>

          <table class="table table-condensed table-striped table-bordered pagination-centered">
            <thead>
              <tr>
                <th>Exam</th>
                <th>Tag</th>
                <th>Start Date and Time</th>
                <th>End Date and Time</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <td>Entrepreneurship</td>
                <td>Group1</td>
                <td>July 22, 2012, 4:45 p.m.</td>
                <td>July 22, 2012, 4:45 p.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship</td>
                <td>Group2</td>
                <td>July 25, 2012, 1 p.m.</td>
                <td>July 27, 2012, 3 p.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship</td>
                <td>Group3</td>
                <td>July 28, 2012, noon</td>
                <td>July 28, 2012, 2 p.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship</td>
                <td>Olympic Secondary</td>
                <td>Aug. 5, 2012, 7:45 p.m.</td>
                <td>Aug. 5, 2012, 7:45 p.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship</td>
                <td>Maono Education Center</td>
                <td>Aug. 13, 2012, 8:30 a.m.</td>
                <td>Aug. 13, 2012, 8:30 a.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship</td>
                <td>Olympic Secondary- Real</td>
                <td>Aug. 13, 2012, 8:45 a.m.</td>
                <td>Aug. 13, 2012, 8:45 a.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship</td>
                <td>Focus Group</td>
                <td>Aug. 14, 2012, 8 a.m.</td>
                <td>Aug. 14, 2012, 8 a.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship</td>
                <td>System Test</td>
                <td>Aug. 19, 2012, 7:30 p.m.</td>
                <td>Aug. 19, 2012, 7:30 p.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship</td>
                <td>SODAS</td>
                <td>Aug. 24, 2012, 2:30 p.m.</td>
                <td>Aug. 24, 2012, 2:30 p.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship-Holistic</td>
                <td>FGroup 1</td>
                <td>Sept. 4, 2012, 7:15 p.m.</td>
                <td>Sept. 4, 2012, 7:15 p.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship</td>
                <td>Technoserve</td>
                <td>Sept. 6, 2012, 9:15 a.m.</td>
                <td>Sept. 6, 2012, 9:15 a.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship Final Exam</td>
                <td>FGroup2</td>
                <td>Sept. 14, 2012, 6:45 p.m.</td>
                <td>Sept. 14, 2012, 6:45 p.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship</td>
                <td></td>
                <td>Dec. 12, 2012, 6:45 a.m.</td>
                <td>Dec. 12, 2012, 6:45 a.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship</td>
                <td></td>
                <td>Dec. 12, 2012, 6:45 a.m.</td>
                <td>Dec. 12, 2012, 6:45 a.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship</td>
                <td>test</td>
                <td>Dec. 12, 2012, 6:45 a.m.</td>
                <td>Dec. 12, 2012, 6:45 a.m.</td>
              </tr>
              
              <tr>
                <td>Entrepreneurship</td>
                <td></td>
                <td>Dec. 12, 2012, 6:45 a.m.</td>
                <td>Dec. 12, 2012, 6:45 a.m.</td>
              </tr>
              
            </tbody>
          </table>
        </div>

      <div class="tab-pane" id="2">
       <h3>Select Exam Group</h3>

          <form class="well form-inline" method="post" action="codes"><div style='display:none;'><input type='hidden'  name='csrfmiddlewaretoken' value='279266345425cd3ac9c43ae365c0428e' /></div>
            <select name = "examgroup" >
                  
                  <option value="11">Entrepreneurship-Holistic - FGroup 1</option>
                  
                  <option value="10">Entrepreneurship - SODAS</option>
                  
                  <option value="13">Entrepreneurship Final Exam - FGroup2</option>
                  
                  <option value="12">Entrepreneurship - Technoserve</option>
                  
                  <option value="15">Entrepreneurship - </option>
                  
                  <option value="14">Entrepreneurship - </option>
                  
                  <option value="17">Entrepreneurship - </option>
                  
                  <option value="16">Entrepreneurship - test</option>
                  
                  <option value="1">Entrepreneurship - Group1</option>
                  
                  <option value="3">Entrepreneurship - Group2</option>
                  
                  <option value="5">Entrepreneurship - Olympic Secondary</option>
                  
                  <option value="4">Entrepreneurship - Group3</option>
                  
                  <option value="7">Entrepreneurship - Olympic Secondary- Real</option>
                  
                  <option value="6">Entrepreneurship - Maono Education Center</option>
                  
                  <option value="9">Entrepreneurship - System Test</option>
                  
                  <option value="8">Entrepreneurship - Focus Group</option>
                  
            </select>
            <input type="text" class="input-medium" name="codes" placeholder="Number of codes">
            <button type="submit" class="btn">Generate Codes</button>
          </form>

          <h3>Current Exam Codes</h3>

          <table class="table table-condensed table-striped table-bordered">
            <thead>
              <tr>
                <th>Exam</th>
                <th>Tag</th>
                <th>Generated Codes</th>
                <th>Used Codes</th>
                <th>Unused Codes</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td>Group1</td>
                    
                    <td>11</td>
                    
                    <td>0</td>
                    
                    <td>11</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td>Group2</td>
                    
                    <td>0</td>
                    
                    <td>0</td>
                    
                    <td>0</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td>Group3</td>
                    
                    <td>0</td>
                    
                    <td>0</td>
                    
                    <td>0</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td>Olympic Secondary</td>
                    
                    <td>9</td>
                    
                    <td>4</td>
                    
                    <td>5</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td>Maono Education Center</td>
                    
                    <td>20</td>
                    
                    <td>0</td>
                    
                    <td>20</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td>Olympic Secondary- Real</td>
                    
                    <td>40</td>
                    
                    <td>0</td>
                    
                    <td>40</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td>Focus Group</td>
                    
                    <td>23</td>
                    
                    <td>18</td>
                    
                    <td>5</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td>System Test</td>
                    
                    <td>4</td>
                    
                    <td>1</td>
                    
                    <td>3</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td>SODAS</td>
                    
                    <td>25</td>
                    
                    <td>18</td>
                    
                    <td>7</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship-Holistic</td>
                    
                    <td>FGroup 1</td>
                    
                    <td>8</td>
                    
                    <td>7</td>
                    
                    <td>1</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td>Technoserve</td>
                    
                    <td>3</td>
                    
                    <td>1</td>
                    
                    <td>2</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship Final Exam</td>
                    
                    <td>FGroup2</td>
                    
                    <td>34</td>
                    
                    <td>21</td>
                    
                    <td>13</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td></td>
                    
                    <td>0</td>
                    
                    <td>0</td>
                    
                    <td>0</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td></td>
                    
                    <td>0</td>
                    
                    <td>0</td>
                    
                    <td>0</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td>test</td>
                    
                    <td>0</td>
                    
                    <td>0</td>
                    
                    <td>0</td>
                    
              </tr>
              
              <tr>                    
                    
                    <td>Entrepreneurship</td>
                    
                    <td></td>
                    
                    <td>0</td>
                    
                    <td>0</td>
                    
                    <td>0</td>
                    
              </tr>
              
            </tbody>
          </table>

        </div>

        <div class="tab-pane" id="3">
       <h3>Select Exam Group</h3>

          <form class="well form-inline" method="post" action="manage-exam/viewcodes"><div style='display:none;'><input type='hidden'  name='csrfmiddlewaretoken' value='279266345425cd3ac9c43ae365c0428e' /></div>
            <select name = "examgroup" >
                  
                  <option value="11">Entrepreneurship-Holistic - FGroup 1</option>
                  
                  <option value="10">Entrepreneurship - SODAS</option>
                  
                  <option value="13">Entrepreneurship Final Exam - FGroup2</option>
                  
                  <option value="12">Entrepreneurship - Technoserve</option>
                  
                  <option value="15">Entrepreneurship - </option>
                  
                  <option value="14">Entrepreneurship - </option>
                  
                  <option value="17">Entrepreneurship - </option>
                  
                  <option value="16">Entrepreneurship - test</option>
                  
                  <option value="1">Entrepreneurship - Group1</option>
                  
                  <option value="3">Entrepreneurship - Group2</option>
                  
                  <option value="5">Entrepreneurship - Olympic Secondary</option>
                  
                  <option value="4">Entrepreneurship - Group3</option>
                  
                  <option value="7">Entrepreneurship - Olympic Secondary- Real</option>
                  
                  <option value="6">Entrepreneurship - Maono Education Center</option>
                  
                  <option value="9">Entrepreneurship - System Test</option>
                  
                  <option value="8">Entrepreneurship - Focus Group</option>
                  
            </select>
            <button type="submit" class="btn btn-primary">View Codes</button>
          </form>

        </div>

        </div><!-- tab-content (inner) end -->

        </div><!-- tabbable end -->

</div><!-- tab-content end -->

{% endblock %}