{%extends "base.html"%}
{%block content%}
<div class="container-narrow">
  <div class="span7">
  	{{msg}}
  		<form method="GET" action="send1SMS">	
  			{% csrf_token %} 
			<p><h4>Send SMS To 1 Person</h4></p>
				<label>Contact</label><input type="number" name="contact"/><br/>
				<label>Message</label>
				<textarea name="message" maxlength="140">
				</textarea><br>
				<input type="submit" value="Send Text" class="btn primary" >
		</form> 
	</div>
</div>

{%endblock%}
