*{
	/*font-family: Arial, Calibri,"Times New Roman","Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;*/
	font-family: Arial,Calibri,Georgia, sans-serif !important;
}
html, body {	
	height:100%; 
 	color:#4F4F4F;
	background:#F7F7F7;
	margin:0;
	padding:0;	
}
label{
	display:block;
	font-weight:bold;
	margin-bottom:2%;
}
#wrapper{
	min-height:100%;
	background:#F7F7F7;
	position:relative;	
}
#content{
	padding:10px;
	padding-bottom:20px;
}
#footer{
	bottom:0;
	position:absolute;
	background:#555;
	text-align:center;
	color:#FFEC8B;
	width:100%;
	height:20px;
}
#mainheader{
	width:100%;
	background:#555;
	margin-top:1%;	
	height:60px;
}

#logo{
	width:100px;
	height:50px;
	float:left;
}
#header{
	margin-left:auto;
}
.description{
	color:#555;
	font-size:1.5em;
}
.mini_description{
	color:#555;
	font-size:1.2em;
	font-weight:bold;
}
.alinked a{
	font-size:0.9em;
	color:#EEDC82;
	text-decoration:underline;
}
.alinked a:hover{
	color:#FFEC8B;
	text-decoration:none;
}
.list{	
	background:#F2F2F2;
	margin:0% 20% 2% 20%;
}
.list_header{		
	margin:0% 20% 0% 20%;
}
.list a{
	color:#3A5FCD;	
	font-size:1.2em;
	font-weight:bold;
	/*text-decoration:underline;*/
}
.list a:hover{
	text-decoration:none;
}
.listdetails{
	margin-left:5%;
}
.heading{
	font-size:2em;
	color:#4F4F4F;
	margin-left:15%;
	font-weight:bold;
	float:none;
}
.mini_heading{
	font-size:1.5em;
	color:#4F4F4F;
	margin-left:15%;
	margin-top:1%;
	padding:2%;
	font-weight:bold;
	float:none;
}
.metadata{
	margin-left:10%;
	padding:1%;
}
.metadata_advanced{
	margin:2px 10% 2px 10%;
}
.metadata hr{
	height:5px;
	background:#F2EC8B;
	border:0;
	width:80%;
	margin-left:10%;
	margin-right:2%;
}
.extra_buttons{
	margin-left:10%;
}

#container{
	margin:20%;
	height:80%; 
	padding:5% 5% 20px 5%;	
	position:relative;
	margin:2% 5% 0% 5%;
}

#link_header{
	background:#F2EC8B;
	margin:2% 5% 0% 5%;
	padding:1px;
	text-align:center;
	color:#4F4F4F;
}
#mini_link_header{
	background:#F2EC8B;
	margin:2% 2% 3% 2%;
	padding-top:1px;
	text-align:center;
	color:#4F4F4F;
}
#mini_header{
	background:#F2EC8B;
	margin:2px 10% 2px 10%;
	padding:1px;
	text-align:center;
	color:#4F4F4F;
}

#separator{
	margin-top:2%;
	margin-bottom:2%;
}
.small_meta{
	font-size:0.7em;
}
.metadata_heading{
	margin-left:10%;
	padding:1%;
}

#big_head{
	font-size:3.5em;
	font-weight:bold;
}
#small_head{
	font-size:1.2em;
}
.header_links{
	font-size:0.9em;
	font-weight:bold;
	padding:1%;
	
}
ul 
{
	list-style-type:none;	
}
li
{
	display:inline;
}
ul li a{
	list-style:none;
	color:#FFEC8B;
	text-decoration:none;
}
a{
	text-decoration:none;
	padding:5px 5px 5px 5px;
	color:#000000;			
}
a:hover{
	color:#0044cc;
}
ul li a:hover{
	color:#FFFFFF;
	text-decoration:none;
}
/*hr{
	height:5px;
	background:#F2EC8B;
	border:0;
	width:80%;
	margin-left:10%;
	margin-right:2%;
}*/
.welcome_image{
	padding:5% 5% 5% 5%;
}
.header_image{
	float:left;
}
.welcome{
	margin-left:25%;
}
.other_pages{
	margin-left:35%;
}
.textinput{
	height:20px;
}
.logintable{	
	padding: 20px 10px;
	margin: 10% auto 0px;
	box-shadow: 0px 0px 15px rgb(46, 47, 47);
	border: 3px solid rgb(255, 255, 255);
	border-radius: 15px 15px 15px 15px;
}
#inputcb{
	text-align:left;
	display:block;
}
.btnLogout{
	float:right;
}
.normal_table{
	margin:2%;
	padding:2%;
}
.console_table{
	margin-left:auto;
	margin-right:auto;
	padding:2%;
	margin-bottom:2%;
}
.fancy_table{
	text-align:center;
	width:80%;
	border-collapse: separate;
	background:#E3E3E3;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:2%;	
}

.fancy_table th,.fancy_table td {
  border: 2px solid #000000;
}
.fancy_table th{
	background:#555;
	color:#FFF;
	font-weight:bold;	
}
.fancy_table a{
	color:#0044cc;
}
.fancy_table a:hover{
	text-decoration:underline;
	color:#0000CD;
}

.interactive_tb{
	width:80%;
	border-collapse: separate;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:2%;
	padding:2%;
}
.interactive_tb td{
	color:#fff;
	width:40%;
	padding:1%;
	margin:1%;	
}
.pretty{
	text-align:center;
	border-collapse: separate;
  	/*border-collapse: collapse;*/
  	/*border-left: 0;*/
	background:#E3E3E3;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:10px;
	width: 100%;
	clear: both;	
}
.pretty tfoot td{
	background:#555;
	color:#FFF;
	font-weight:bold;
}
.pretty thead th,.pretty tbody td,.pretty tfoot td {
  border: 2px solid #000000;
}
.pretty th{
	background:#555;
	color:#FFF;
	font-weight:bold;	
}
.pretty a{
	color:#0044cc;
}
.pretty a:hover{
	text-decoration:underline;
	color:#0000CD;
}
.report_table{
	text-align:center;
	width:80%;
	border-collapse: separate;
	font-size:0.9em;
	/*border-collapse: separate;*/
  	/*border-collapse: collapse;*/
  	/*border-left: 0;*/
	background:#E3E3E3;
	margin-right:auto;
}
.report_table th,.report_table td {
  border: 1px solid #FFFFFF;
}
.report_table tr:nth-child(even){
	background:#C1C1C1;
}

.report_table th{
	background:#555;
	color:#FFF;
	font-weight:bold;	
}

.extended_fancy_table{
	text-align:center;
	width:100%;
	background:#E3E3E3;
}

.inputtext{
	border:1px solid #4F4F4F;
	-webkit-border-radius: 10px;
     	-moz-border-radius: 10px;
        border-radius: 10px;
	height:30px;	
	width:250px;
	color:#8B8386;
	margin:2%;
	background:#F7F7F7;
}
textarea{
	border:1px solid #4F4F4F;
	-webkit-border-radius: 10px;
     	-moz-border-radius: 10px;
        border-radius: 10px;
	height:150px;	
	width:250px;	
	background:#F7F7F7;
	padding:5px;
}
fieldset{
	border:1px solid #4F4F4F;
	width:50%;
}
.greyed_btn{
	color:#FFF;
	border:2px solid #4F4F4F;
	-webkit-border-radius: 5px;
     	-moz-border-radius: 5px;
        border-radius: 5px;
	font-size:1.0em;
	font-weight:bolder;
	background:#737373;
	margin:2% 0% 2% 1%;
	padding:5px;
}
.greyed_btn:hover{
	color:#F2EC8B;	
	background:#4F4F4F;
}
.spruced_greyed_btn{
	color:#FFF;
	border:2px solid #4F4F4F;
	-webkit-border-radius: 5px;
     	-moz-border-radius: 5px;
        border-radius: 5px;
	font-weight:bolder;
	background:#737373;
	font-size:1.0em;
	margin:2% 0% 2% 0%;
}
.spruced_greyed_btn:hover{
	color:#F2EC8B;	
	background:#4F4F4F;
	
}
.spruced_yellow_btn{
	color:#4F4F4F;
	border:1px solid #FFC125;
	-webkit-border-radius: 5px;
     	-moz-border-radius: 5px;
        border-radius: 5px;
	font-size:1.0em;
	font-weight:bolder;
	background:#F2EC8B;
}
.spruced_yellow_btn:hover{
	color:#4F4F4F;	
	background:#FFC125;
}
.square_greyed_btn{
	color:#FFF;
	border:2px solid #4F4F4F;
	-webkit-border-radius: 5px;
     	-moz-border-radius: 5px;
        border-radius: 5px;
	font-size:1.0em;
	font-weight:bolder;
	background:#737373;
	margin:2% 0% 2% 0%;
	
}
.square_greyed_btn:hover{
	color:#F2EC8B;	
	background:#4F4F4F;	
}
select{
	/*color:#FFEC8B;
	border:2px solid #4F4F4F;
	-webkit-border-radius: 0px;
     	-moz-border-radius: 0px;
        border-radius: 0px;
	font-size:1.0em;
	font-weight:bolder;
	background:#4F4F4F;
	width:200px;
	text-align:center;
	margin:1% 0% 1% 0%;*/
}
.spruced select{
	width:200px;
}
div.dataTables_length {
	float: left;
	margin-left:70px;
	font-weight:bold;
	font-size:0.9em;
	/*color:#000;*/
}
 
div.dataTables_filter {
	float: right;	
	margin-right:70px; 
	font-size:0.9em;
	/*color:#000;*/
}
 
div.dataTables_info {
	float: left;
	/*color:#000;*/
	margin-left:70px;
	font-weight:bold;
	font-size:0.8em;
}
 
div.dataTables_paginate {
	float: right;
	background-color: #555;
	margin-right:70px;
}
 
div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info {
    padding: 1px;
}
/* Self clearing - */
div.dataTables_wrapper:after {
    content: ".
    display: block;
    clear: both;
    line-height: 0;
    height: 15px;
}
html[xmlns] .dataTables_wrapper { display: block; }
* html .dataTables_wrapper { height: 1%; }

a.paginate_button,
a.paginate_active {
    display: inline-block;
    background-color: #7A7A7A;
    padding: 2px 6px;
    margin-left: 2px;
    cursor: pointer;
    *cursor: hand;
    color:#fff;
}
 
a.paginate_active {
	background-color: transparent;
	border: 1px solid black;	
}
 
a.paginate_button_disabled {
	color: #969696;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	color:#555;
	text-decoration: none;
}
 
div.dataTables_paginate span>a {
    width: 15px;
    text-align: center;
}
 
div.dataTables_info {
    padding: 9px 6px 6px 6px;
}
tbody tr td img{
	padding:3px;
}
.content_btn{
	margin-right:0;
	background:#737373;
	color:#fff;
	border:none;
	font-size:1.0em;
}
.content_btn:hover{
	color:#F2EC8B;	
	background:#4F4F4F;
}
.question_btn{
	margin-right:0;
	margin-left:0;
	background:#F2EC8B;
	color:#4F4F4F;
	border:none;
	font-size:1.0em;
}
.question_btn:hover{
	color:#000;	
	background:#FFC125;
}
.answer_btn{
	margin-left:0;
	margin-right:0;
	color:#F2EC8B;	
	background:#4F4F4F;
	border:none;	
	font-size:1.0em;
}
.answer_btn:hover{
	background:#737373;
	color:#fff;
}
.content_ta{
	width:50%;
	background:#F0F0F0;
}
.word_count{
	font-weight:bold;
	font-size:small;
}












