*{
	font-family:sans-serif;
	/*font-size:13px;*/
}
html, body {	
	min-height:100%; 
	height:100%;
 	color:#4F4F4F;
	/*background:#F7F7F7;*/
	background:#fff;
	margin:0;
	padding:0;
}
#wrapper{	
	max-width:95%;
	min-height:85%;
	width:100%;
	position:relative;
	margin:1%;
}
#wrapper1{	
	max-width:95%;
	min-height:95%;
	width:100%;
	position:relative;
	margin:1%;
}
#header{	
	width:100%;
	margin-bottom:10%;
}
#mini_header{
	margin:1%;
}
#title_header{
	font-weight:bold;
}
#content{
	padding-bottom:10px;
	padding:10px;
	max-width:100%;
	margin-bottom:1%;
	width:100%;
	position:relative;
}
#lower_header{	
	bottom:0;	
	position:relative;
	width:100%;
}
#footer{
	bottom:0;
	position:relative;
	background:#555;
	text-align:center;
	color:#FFEC8B;
	width:100%;
	height:20px;
	font-size:70%;
	margin-top:1%;
	padding-top:5px;
}
#accordion a{
	text-decoration:none;
	color:#0000CD;
}
.shadowbutton{	
	width:100%;
}
input[type="text"]{
	border:1px solid #ccc;
	background: #fff;
	width:100%;
	background: -webkit-gradient(linear, right bottom, right 15, from(#FFFFFF), color-stop(4%, #f4f4f4), to(#FFFFFF));
    	background: -moz-linear-gradient(bottom, #FFFFFF, #f4f4f4 1px, #FFFFFF 15px);
	padding:5px 0px 5px 0px;
}
.underline_title{
	border-bottom:4px #ecbe1c solid;
	font-size:150%;
	font-weight:bold;
	padding-right:10px;
}
.yellow_title{
	color:#ecbe1c;
	font-size:130%;
	font-weight:bold;
}
.passtext{
	border:1px solid #ccc;
	background: #fff;
	width:100%;
	padding:5px 0px 5px 0px;
	background: -webkit-gradient(linear, right bottom, right 15, from(#FFFFFF), color-stop(4%, #f4f4f4), to(#FFFFFF));
    	background: -moz-linear-gradient(bottom, #FFFFFF, #f4f4f4 1px, #FFFFFF 15px);
}
.client_logo{
	float:left;
	width:100%;
}
.g_logo{
	float:right;
	width:100%;
}
.yellow_italic_text{
	font-style:italic;
	color:#ecbe1c;
}
.black_btn{
	background:#4F4F4F;
	color:#ecbe1c;
	font-size:105%;
	padding:5px 10px 5px 10px;
	border:none;
	box-shadow: 5px 5px 4px #BFBFBF;
	text-decoration:none;	
	font-weight:normal;
}
.help_btn{
	color:#000;
	font-size:1.5em;	
	padding:5px 20px 5px 20px;
	box-shadow: 5px 5px 4px #BFBFBF;	
	background:#fff;
}
.white_btn{
	color:#000;
	/*font-size:1.5em;*/	
	padding:5px;
	box-shadow: 0px 0px 15px #BFBFBF;
	background:#fff;	
}
.main_btn{
	border-radius:0;
	border-style:none;
	border: 1px solid #f2f2f2;
	/*font-size:2.0em;*/  	
	padding:5px 10px 5px 10px;
	width:100%;
	color:#000;
	text-decoration:none;
	box-shadow: 0px 0px 15px #BFBFBF;
}
.mini_btn{
	color:#000;	
	padding:5px;
	box-shadow: 2px 2px 2px #BFBFBF;	
	background:#fff;	
	text-decoration:none;
}
.contentbox{
	
}

#content a{ 
	text-decoration:none;
}
/*DEALING WITH THE TOGGLING IN */
ul{max-width:100%;}
li:hover{background:#FFFFE0;}
.f_head{
	color:#000;
}
li{list-style-type:none; cursor:pointer; -moz-border-radius:0 10px 0 10px; /*border:3px solid #666666;*/border:none; margin:10px 10px 10px 0px; padding:10px 10px 10px 10px;/*#F7F7F7;*/}
ul div{color: #000; cursor: auto; display: none; font-size: 13px; padding: 5px 0 5px 20px; text-decoration: none; }
ul div a{color:#000000; font-weight:bold;}
li div:hover{text-decoration:none !important;}
li:before {content: "+"; padding:10px 10px 10px 0; color:black; font-weight:bold;}
li.active:before {content: "-"; padding:10px 10px 10px 0; color:grey; font-weight:bold;}
#toggle{width:100%; margin:0;padding:0;}
.small_content li{border:none;}
.question{color:blue;}

