
.span11{
	width:830px;
	
}
.input{
	margin: 100px;
}
#login{
	margin-left:300px;
	margin-top:50px;
}
#loginButton{
	margin-left: 200px;
}
.customerbar{
	
	
}
.active{
	color: rgb#000000;
}

div.dataTables_length label {
   /* width: 460px;*/
    width: 440px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 60px;
    /* width: 75px;*/
}
 
div.dataTables_filter label {
    float: right;
    width: 440px;
    /* width: 460px;*/
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}


