<!DOCTYPE html> 
<html> 
	<head> 
	<title>Hillside GG Ltd</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head> 

<body> 	
		<div data-role="header">
			<h3>Agro Manager </h3>
		</div>
		<div data-role="content">
			
			{% block content %}

			{%endblock%}

		</div> 
		<div data-role="footer">
			<strong ">&copy; 2012 Hillside G Growers Ltd. </strong>	
		</div> 
	

</body>
</html>

