<!DOCTYPE html> 
<html> 
	<head> 
	<title>gWeb | Courses</title> 
	<link rel="stylesheet" href="/static/css/style2.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head> 

<body> 
<div id="wrapper">	
	<div id="title_header">
		<a href="/logoutgweb" style="float:right;" class="mini_btn">log out</a><br/>
		<p></p>
		<table>
			<tr>
				<td><a href="/coursesweb"><img src="/static/images/courses.png" class="shadowbutton"/></a></td>
				<td><a href="/reportsweb"><img src="/static/images/reports.png" class="shadowbutton"/></a></td>
				<td><a href="/faqs"><img src="/static/images/FAQs.png" class="shadowbutton"/></a></td>
			</tr>
		</table>
		<p><span class="underline_title">Courses</span></p>
		<a href="/newcourse_gweb" class="black_btn">Start New Course</a>
	</div>
	<div id="content">
		<table width="100%">
			<tr><td>{{error}}</td></tr>			
		</table>
		
		{% if courses.currentQUnit == None %}
			<table width="100%">
				{% if message == None %}
				<tr><td style="font-weight:bold;">You currently do not have pending questions</td></tr>
				{% else %}
				<tr><td>{{ message }}</td></tr>
				{% endif %}
			</table>						
				
		{% else %}
			<table width="100%">				
				<tr><td style="font-weight:bold;font-size:120%;">{{courses.program}}</td></tr>
				<tr><td>Current Unit: <a href="/getQuestions?code={{courses.program.programCode}}&id={{courses.currentQUnit.id}}">{{courses.currentQUnit}}</a></td></tr>				
			</table>					
		{% endif %}
		
	</div>						
</div>
<div id="lower_header">
		<table width="100%">			
			<tr>
				<td width="40%"><img src="/static/images/client_logo.png" class="client_logo"/></td>
				<td width="20%"></td>
				<td width="40%"><img src="/static/images/g_logo.png" class="g_logo"/></td>
			</tr>
		</table>
</div>
<div id="footer">
	&copy;2013.g.Maarifa.All Rights Reserved
</div>

</body>
</html>
