<html>
<head>
	<title>gWeb | Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="/static/css/style2.css" type="text/css" />

</head>
<body>
<div id="wrapper">	
	<div id="title_header">
		<a href="/logoutgweb" style="float:right;" class="mini_btn">log out</a><br/>
		<p><span class="underline_title">Welcome {{user.firstname}}</span></p>
	</div>
	<div id="content">
		<table>
			<tr>
				<td><a href="/coursesweb"><img src="/static/images/courses.png" class="shadowbutton"/></a></td>
				<td><a href="/reportsweb"><img src="/static/images/reports.png" class="shadowbutton"/></a></td>
				<td><a href="/faqs"><img src="/static/images/FAQs.png" class="shadowbutton"/></a></td>
			</tr>
		</table>
		
		<table width="100%" style="margin-top:5%;">
			<tr><td><span style="font-weight:bold;font-size:14px;">Latest Activity</span></td></tr>
			<tr><td><hr style="height:2px;background:#ccc;border:0;margin-top:0;"/></td></tr>
			<tr>
				<td>
					<ul>
						<li>Enrolled in Mathematics</li>
						<li>Completed Unit 3 in Sales Best Practices</li>
					</ul>
				</td>
			</tr>			
		</table>		
	</div>						
</div>
<div id="lower_header">
		<table width="100%">			
			<tr>
				<td width="40%"><img src="/static/images/client_logo.png" class="client_logo"/></td>
				<td width="20%"></td>
				<td width="40%"><img src="/static/images/g_logo.png" class="g_logo"/></td>
			</tr>
		</table>
</div>
<div id="footer">
	&copy;2013.g.Maarifa.All Rights Reserved
</div>
</body>
</html>
