<!DOCTYPE html> 
<html> 
	<head> 
	<title>gMaarifa Web</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	
</head> 

<body> 
	<div data-role="page" id='one'> 
		<div data-role="header">
			<h3>gMaarifa Mobile Web </h3>
		</div>
			<p style='color: green'>{{ message }} </p>
			<p style='color: red'>{{ error }} </p>
		<div data-role="navbar">
			<!-- <li><a href="/coursesweb" data-icon="star">Courses</a></li> <br/> <br/> <br/>  -->
			<li><a href="/coursesweb" data-icon="plus">Courses</a></li> <br/> <br/> <br/> 
			<li><a href="/reportsweb" data-icon="plus">Reports</a></li> <br/> <br/> <br/> 
			<li><a href="/helpweb" data-icon="check">Help</a></li> <br/>
		
		</div> 
		<div data-role="footer" data-theme="b">
			<strong">&copy; 2013 gMaarifa Inc. </strong>	
		</div> 
	</div> 
	
</body>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
	
</html>

