<!DOCTYPE html> 
<html> 
	<head> 
	<title>gMaarifa Web</title> 
	<link rel="stylesheet" href="/static/css/style2.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head> 

<body onload="addEvents();"> 
<div id="wrapper">
	<div id="header">
		<table width="100%">
			<tr>
			<td><a href="/m_home"/><img src="/static/images/iconhome.png" class="icon_home" style="float:left;"/></a></td>
			<td><img src="/static/images/g_icon.png" class="icon_home" style="float:right;"/></td>
			</tr>
		</table>		
		<div class="mini_header">
			Courses
		</div>	
	</div>
		{{error}}		<br>	<br>  
		
		{% if courses.currentQUnit == None %}
		
				{% if reply == None %}
				You currently do not have pending questions
				{% else %}
				{{ reply.msg }}
				{% endif %}
				
		{% else %}
					Click on the unit to undertake 
					<ul>
					<li>
					Quiz: <a href="#">{{courses.program}}</a>	<br><br>
					</li>
						<ul> 
						<li>	
							Unit: <a href="/getQuestions?code={{courses.program.programCode}}&id={{courses.currentQUnit.id}}">{{courses.currentQUnit}}</a>	
				
							<br><br>
				
							 <br>
				
				
						</li>
						</ul>
					</ul>
		
		{% endif %}
		
		
	</div>
	<div id="footer">

	</div>
</div>

</body>
</html>
