<!DOCTYPE html> 
<html> 
	<head> 
	<title>gMaarifa Web</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	
</head> 

<body> 
	<div data-role="page" id='one'> 
		<div data-role="header">
			<h3>gMaarifa Login </h3>
		</div>
		<div data-role="navbar">
		 <h4><a href="/m" > << Home       </a></h4>
		 </div>
			<p style='color: green'>{{ message }} </p>
			<p style='color: red'>{{ error }} </p>
		<div data-role="navbar">
	Enter your phone number to check your questions <br/><br/>
		<!-- <p style='color': green>Current Course: Mathematics </p> -->
	
		<form action="/web" method="POST" data-ajax="false"  >
				 {% csrf_token %}	
				<label>Phone Number:</label><br/>
					<input type="text" name="source" id="source" placeholder="Your number." class="inputtext"><br/>
				<input type="submit" data-icon="check" data-theme="b" data-inline="true" value="Submit" />
			</form>
		</div> 
		<div data-role="footer" data-theme="b">
			<strong">&copy; 2013 gMaarifa Inc. </strong>	
		</div> 
	</div> 
	
</body>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
	
</html>

