<html>
<head>
	<title>User Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="/static/css/style2.css" type="text/css" />
</head>
<body>
<div id="wrapper">	
	<div id="title_header">
		<a href="/m" style="float:right;" class="mini_btn">go back</a><br/>
		<p><span class="underline_title">Sign In</span></p>
	</div>
	<div id="content">
		<table width="100%">
		<form action="/logingweb" method="POST" onsubmit="return validateForm()">	
		{% csrf_token %}	
			<tr><td colspan="2">Please enter your <span class="yellow_italic_text">login</span> information</td></tr>	
			<tr><td colspan="2"><label>Username:</label></td></tr>
			<tr><td colspan="2"><input type="text" name="username" id="username" placeholder="" /></td></tr>
			<tr><td colspan="2"><label>Password:</label></td></tr>
			<tr><td colspan="2"><input type="password" name="password" id="password" placeholder="" class="passtext" /></td></tr>
			<tr>
				<td><input type="image" name="SignIn" src="/static/images/sign_in.png" class="shadowbutton" /></form></td>
				<td><a href="/helpweb"><img src="/static/images/help.png" class="shadowbutton"/></a></td>
			</tr>				
		</form>		
		</table>
		<script type="text/javascript">
				function validateForm(){					
					$username=document.getElementById('username').value;
					$password=document.getElementById('password').value;

					if($username==""||$password==""){
						alert('Fill in all empty fields');
						return false;
					}
					else{								
						return true;
					}
					return false;
				}			
			
		</script>					
	</div>			
</div>
<div id="lower_header">
		<table width="100%">			
			<tr>
				<td width="40%"><img src="/static/images/client_logo.png" class="client_logo"/></td>
				<td width="20%"></td>
				<td width="40%"><img src="/static/images/g_logo.png" class="g_logo"/></td>
			</tr>
		</table>
	</div>
<div id="footer">
	&copy;2013.g.Maarifa.All Rights Reserved
</div>			
</body>
</html>
