<!DOCTYPE html> 
<html> 
	<head> 
	<title>gWeb | Courses</title> 
	<link rel="stylesheet" href="/static/css/style2.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head> 

<body> 
<div id="wrapper">	
	<div id="title_header">
		<a href="/logoutgweb" style="float:right;" class="mini_btn">log out</a><br/>
		<p></p>
		<table>
			<tr>
				<td><a href="/coursesweb"><img src="/static/images/courses.png" class="shadowbutton"/></a></td>
				<td><a href="/reportsweb"><img src="/static/images/reports.png" class="shadowbutton"/></a></td>
				<td><a href="/faqs"><img src="/static/images/FAQs.png" class="shadowbutton"/></a></td>
			</tr>
		</table>
		<p><span class="underline_title">Course Registration</span></p>
		<h3></h3>
		
	</div>
	<div id="content">
		<form action="/registerNewCourse" method="POST" onsubmit="return validateForm()">
		{% csrf_token %}
		<table width="100%">
			<tr><td>Enter course code:</td></tr>
			<tr><td><input type="text" name="program_id" id="program_id" /></td></tr>
			<tr><td><input type="submit" value="Register" class="black_btn" /></td></tr>
		</table>
		</form>
		<script type="text/javascript">
			function validateForm(){				
				$program_id=document.getElementById('program_id').value;

				if($program_id==""){
					alert('Enter course code');
					return false;
				}
				else{			
					return true;
				}
				return false;
			}			
			
		</script>	
	</div>						
</div>
<div id="lower_header">
		<table width="100%">			
			<tr>
				<td width="40%"><img src="/static/images/client_logo.png" class="client_logo"/></td>
				<td width="20%"></td>
				<td width="40%"><img src="/static/images/g_logo.png" class="g_logo"/></td>
			</tr>
		</table>
</div>
<div id="footer">
	&copy;2013.g.Maarifa.All Rights Reserved
</div>

</body>
</html>
