<html>
<head>
	<title>gWeb | Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="/static/css/style2.css" type="text/css" />
	<script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript">
		$(function() {
			$('.next_answer').live("click",function() {
			//var url_ids = $(this).attr("id");
			//var user_id=$(this).attr("name");
			//if(last_comment_id!='endcomments'){
				$.ajax({
				type: "POST",
				url: "/answer/",				
				beforeSend:  function() {
					alert('Button clicked');
					$("#unit_questions").append({{reply.verdict}});	
				},
				success: function(html){
					alert('Button clicked');
					//$("#loadcomments").remove();
					
					
				}
			});
		//}
			return false;
		});
	});

	</script>

</head>
<body>
<div id="wrapper">
	<div id="title_header">
		<a href="/logoutgweb" style="float:right;" class="mini_btn">log out</a><br/>
		<p></p>
		<table>
			<tr>
				<td><a href="/coursesweb"><img src="/static/images/courses.png" class="shadowbutton"/></a></td>
				<td><a href="/reportsweb"><img src="/static/images/reports.png" class="shadowbutton"/></a></td>
				<td><a href="/faqs"><img src="/static/images/FAQs.png" class="shadowbutton"/></a></td>
			</tr>
		</table>
		
		<table width="100%">				
			<tr><td style="font-weight:bold;font-size:120%;">{{ courses.program}}</td></tr>
			<tr><td style="font-weight:bold;font-size:120%;">{{courses.currentQUnit}}</td></tr>				
		</table>					
					
	</div>		
	<div id="content">
		<table width="100%" id="unit_questions">
								
			{% if reply %}	
				
				{% if reply.state == 'done' %}
						<tr><td style="font-weight:bold;">You are done with this courses exams.<br/>
							<a href="/newcourse_gweb" class="black_btn">Start New Course</a>
						</td></tr>
					
				{% elif reply.verdict %}
					<!--form method="post" action="/verdict/"-->	
						<tr><td style="font-weight:bold;">Feedback:</td></tr>
						<tr><td>{{ reply.verdict }}</td></tr>
						<tr><td><input type="image" src="/static/images/next.png" class="next_verdict"/></td></tr>
					<!--/form-->
								
							
				{% elif reply.state != 'done' %}
				
					<!--{% if pastquestion %}
					<tr><td><span class="underline_title"> Former Question</span></td></tr>
								<tr><td style="font-weight:bold;">Question:</td></tr>
								<tr><td>{{feedback.text}}</td></tr>
								<tr><td style="font-weight:bold;">Choices:</td></tr>
								<tr><td>{{feedback.choices}}</td></tr>
								<tr><td style="font-weight:bold;">Your Response:</td></tr>
								<tr><td>{{response.text}}</td></tr>
								<tr><td style="font-weight:bold;">Correct Answer:</td></tr>
								<tr><td>{{feedback.correct}}</td></tr>
					
					{% endif %}-->
					
					<tr><td><span class="underline_title"> Current Question</span></td></tr>
					
					<!--form method="post" action="/answer/"-->
						<tr><td>{{ reply.content.content }}</td></tr>
						<tr><td style="font-weight:bold;">Question:</td></tr>
						<tr><td>{{ reply.question }}</td></tr>
						<tr><td style="font-weight:bold;">Choices:</td></tr>
						<tr><td>{{ reply.choices }}</td></tr>
						<tr><td style="font-weight:bold;">Enter your Response:</td></tr>
						<tr><td><textarea name="answer"></textarea></td></tr>
						<tr><td><input type="image" src="/static/images/next.png" class="next_answer" /></td></tr>
					<!--/form-->
				
				
				{% else %}			
				
				{% endif %}	
				
		{% else %}	
				
			<!--{% if pastquestion %}
			<tr><td><span class="underline_title"> Former Question</span></td></tr>
						<tr><td style="font-weight:bold;">Question:</td></tr>
						<tr><td>{{feedback.text}}</td></tr>
						<tr><td style="font-weight:bold;">Choices:</td></tr>
						<tr><td>{{feedback.choices}}</td></tr>
						<tr><td style="font-weight:bold;">Your Response:</td></tr>
						<tr><td>{{response.text}}</td></tr>
						<tr><td style="font-weight:bold;">Correct Answer:</td></tr>
						<tr><td>{{feedback.correct}}</td></tr>
				{% endif %}-->
				
			<tr><td><span class="underline_title"> Current Question</span></td></tr>
			
			<!--form method="post" action="/answer/"-->	
						<tr><td>{{ content }}</td></tr>
						<tr><td style="font-weight:bold;">Question:</td></tr>
						<tr><td>{{ text }}</td></tr>
						<tr><td style="font-weight:bold;">Choices:</td></tr>
						<tr><td>{{ choices }}</td></tr>
						<tr><td style="font-weight:bold;">Response:</td></tr>
						<tr><td><textarea name="answer"></textarea></td></tr>
						<tr><td><input type="image" src="/static/images/next.png" class="next_answer"/></td></tr>
					<!--/form-->
		{% endif %}		
		</table>
		<!--table width="100%">
								
			{% if reply %}	
				
				{% if reply.state == 'done' %}
					<table width="100%">
						<tr><td style="font-weight:bold;">You are done with this courses exams.</td></tr>
					</table>
				
					
					
				{% elif reply.verdict %}
					<form method="post" action="/verdict/">	
					<table width="100%">
						<tr><td style="font-weight:bold;">Feedback:</td></tr>
						<tr><td>{{ reply.verdict }}</td></tr>
						<tr><td><input type="image" src="/static/images/next.png" class="next_verdict"/></td></tr>
					</table>					
					</form>
								
							
				{% elif reply.state != 'done' %}
				
					{% if pastquestion %}
					<p><span class="underline_title"> Former Question</span></p>
							<table width="100%">
								<tr><td style="font-weight:bold;">Question:</td></tr>
								<tr><td>{{feedback.text}}</td></tr>
								<tr><td style="font-weight:bold;">Choices:</td></tr>
								<tr><td>{{feedback.choices}}</td></tr>
								<tr><td style="font-weight:bold;">Your Response:</td></tr>
								<tr><td>{{response.text}}</td></tr>
								<tr><td style="font-weight:bold;">Correct Answer:</td></tr>
								<tr><td>{{feedback.correct}}</td></tr>
						
							</table>
					
					{% endif %}
					
					<p><span class="underline_title"> Current Question</span></p>
					
					<form method="post" action="/answer/">	
					<table width="100%">
						<tr><td>{{ reply.content.content }}</td></tr>
						<tr><td style="font-weight:bold;">Question:</td></tr>
						<tr><td>{{ reply.question }}</td></tr>
						<tr><td style="font-weight:bold;">Choices:</td></tr>
						<tr><td>{{ reply.choices }}</td></tr>
						<tr><td style="font-weight:bold;">Enter your Response:</td></tr>
						<tr><td><textarea name="answer"></textarea></td></tr>
						<tr><td><input type="image" src="/static/images/next.png" class="next_answer" /></td></tr>
						
					</table>
					</form>
				
				
				{% else %}			
				
				{% endif %}	
				
		{% else %}	
				
			{% if pastquestion %}
			<p><span class="underline_title"> Former Question</span></p>
							<table width="100%">
						<tr><td style="font-weight:bold;">Question:</td></tr>
						<tr><td>{{feedback.text}}</td></tr>
						<tr><td style="font-weight:bold;">Choices:</td></tr>
						<tr><td>{{feedback.choices}}</td></tr>
						<tr><td style="font-weight:bold;">Your Response:</td></tr>
						<tr><td>{{response.text}}</td></tr>
						<tr><td style="font-weight:bold;">Correct Answer:</td></tr>
						<tr><td>{{feedback.correct}}</td></tr>
						
					</table>
					
				{% endif %}
				
			<p><span class="underline_title"> Current Question</span></p>
			
			<form method="post" action="/answer/">	
					<table width="100%">
						<tr><td>{{ content }}</td></tr>
						<tr><td style="font-weight:bold;">Question:</td></tr>
						<tr><td>{{ text }}</td></tr>
						<tr><td style="font-weight:bold;">Choices:</td></tr>
						<tr><td>{{ choices }}</td></tr>
						<tr><td style="font-weight:bold;">Response:</td></tr>
						<tr><td><textarea name="answer"></textarea></td></tr>
						<tr><td><input type="image" src="/static/images/next.png" class="next_answer"/></td></tr>
						
					</table>
					</form>
		{% endif %}		
		</table-->		
	</div>						
</div>
<div id="lower_header">
		<table width="100%">			
			<tr>
				<td width="40%"><img src="/static/images/client_logo.png" class="client_logo"/></td>
				<td width="20%"></td>
				<td width="40%"><img src="/static/images/g_logo.png" class="g_logo"/></td>
			</tr>
		</table>
</div>
<div id="footer">
	&copy;2013.g.Maarifa.All Rights Reserved
</div>
</body>
</html>
