<!DOCTYPE html> 
<html> 
	<head> 
	<title>gWeb | Reports</title> 
	<link rel="stylesheet" href="/static/css/style2.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript">	
		$(document).ready(function() {
			$("li").click(function(){
				$(this).toggleClass("active");
				$(this).next("div").stop('true','true').slideToggle("slow");
			});
		});
	</script>
	</head> 
<body> 

<div id="wrapper">	
	<div id="title_header">
		<a href="/logoutgweb" style="float:right;" class="mini_btn">log out</a><br/>
		<p></p>
		<table>
			<tr>
				<td><a href="/coursesweb"><img src="/static/images/courses.png" class="shadowbutton"/></a></td>
				<td><a href="/reportsweb"><img src="/static/images/reports.png" class="shadowbutton"/></a></td>
				<td><a href="/faqs"><img src="/static/images/FAQs.png" class="shadowbutton"/></a></td>
			</tr>
		</table>
		<p><span class="underline_title">Reports</span></p>
	</div>
	<div id="content">
		<!--h4>You have registered for the {{user.program}} Course </h4-->	
	</div>
	<div class="metadata">
	<span style="font-size:105%;font-weight:bold;">{{user.program}}</span>
	<!--{% for qunit in qunits %}
	<!--ul>
		<li>Peer Average Score: <li>{{reports.score}}%</li> 
	</ul>

	{% endfor %}-->	
	<ul id="toggle">
		{% for exam in exams %}
		<li class="f_head">{{exam.title}}</li>
		<div class="small_content">
			Score: {{exam.rights}}/{{exam.totals}}<br/>
			Total Score: {{exam.score}}%<br/>			
		</div>
		{% endfor %}
	</ul>
</div>						
</div>
<div id="lower_header">
		<table width="100%">			
			<tr>
				<td width="40%"><img src="/static/images/client_logo.png" class="client_logo"/></td>
				<td width="20%"></td>
				<td width="40%"><img src="/static/images/g_logo.png" class="g_logo"/></td>
			</tr>
		</table>
</div>
<div id="footer">
	&copy;2013.g.Maarifa.All Rights Reserved
</div>
</body>

</html>



