<!DOCTYPE html> 
<html> 
	<head> 
	<title>gMaarifa Web</title> 
	<link rel="stylesheet" href="/static/css/style2.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	</head> 
<body> 

<div id="wrapper">
	<div id="header">
		<table width="100%">
			<tr>
			<td><a href="/m_home"/><img src="/static/images/iconhome.png" class="icon_home" style="float:left;"/></a></td>
			<td><img src="/static/images/g_icon.png" class="icon_home" style="float:right;"/></td>
			</tr>
		</table>
	
		<div class="mini_header">
			Reports
		</div>
	</div><div id="link_header">
	<div id="big_head">Reports</div>
	<div id="small_head">View, download and print reports</div> 
</div>
<div class="metadata">
<form method='GET' action='/viewreport/'>
		
		<b>Course Exam:</b> <select name='exam'>
			{% for exam in examz %}
				<option value='{{exam.id}}'>{{exam.title}}</option>
			{% endfor %}
		</select>
		<input type='submit' class='greyed_btn' value="View Report"/> <!--
		<a href="/viewreport/{{exam.id}}">
		<button type="button" onclick="/viewreport/{{exam.id}}" class="greyed_btn">View Report</button> </a>
		<button type="button" class="greyed_btn">Download Report</button>  -->
</form>
<span style="font-size:1.8em; font-weight:bolder;">{{exam.title}} Analysis</span><br/>
	<div class="spruced">
		<!--
		<b>Units:</b> <select name='unit' class="spruced">
			{% for program in programs %}
				<option value='{{program.id}}'>{{program.name}}</option>
			{% endfor %}
		</select>
		<button type="button" onclick="addUser" class="greyed_btn">View Report</button>
		<button type="button" class="greyed_btn">Download Report</button> 
		-->				
		 			
	</div>
<div>
<table class="report_table" style="width:90%; margin-top:5px;">
	<tr><th></th><th>Unit 1</th><th>Unit 2</th><th>Unit 3</th><th>Unit 4</th><th>Unit 5</th><th>Total Score Average(%)</th></tr>
	<tr><td><b>Overall Score</b></td><td>80/89</td><td>44/53</td><td>19/20</td><td>32/45</td><td>80/90</td><td>97/100</td></tr>
	<tr><td><b>Percentage Score</b></td><td>60.69</td><td>72.54</td><td>58.92</td><td>80.12</td><td>60.45</td><td>30.54</td></tr>	
</table>
	
</p>
<!--div class="metadata"-->
	<h3>How the users are doing</h3>
	<table class="fancy_table" style="margin-left:5%;">
	<tr><th>Phone</th><th>Name</th>{% for qunit in qunits %}<th>{{qunit.title}}</th>{% endfor %}<th>Total</th></tr>
	{% for report in reports %}
	<tr>
		<td><a href="/users/{{report.user.id}}">{{report.user.phone}}</a></td>
		<td>{{report.user.firstname}} {{report.user.lastname}}</td>
		{% for score in report.scores %}
		        <td>{{score.right}} / {{score.total}}</td>
        	{% endfor %}
		<td>{{report.totalRight}} / {{report.totalQs}}</td>
	</tr>
	{% endfor %}
	</table>
</div>
	<div id="footer">
		&copy; 2013 g.Maarifa.All rights reserved.
	</div>	
</div> 	
</body>

</html>



