{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="page-header">
  <h1>Login</h1>
</div>

<div class="row">
  <div class="span4 offset4">
    <div class="well">
      <form class="form" action="/admin/login" method="POST">
        {% csrf_token %}
        <label>User:</label>
        <input type="text" name="username">
        <label>Pass:</label>
        <input type="password" name="password">
        <button class="btn btn-primary" type="submit">Login!</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}