{% extends 'base.html' %}

{% block title %}
{% if client %}
Editing Client
{% else %}
Create a new client
{% endif %}
{% endblock %}

{% block content %}

{% if client %}
<div class="page-header">
  <h1>Editing {{client.name}}</h1>
</div>

<div class="row">
  <div class="span12">
    <form class="form" method="POST" action="/admin/clients/{{client.id}}/update">
      {% csrf_token %}
      <label>Name:</label>
      <input type="text" name="name" value="{{client.name}}">
      <label>Short Code:</label>
      <input type="text" name="code" value="{{client.shortCode}}">
      <label>Username:</label>
      <input type="text" name="username" value="{{client.username}}">
      <label>Password:</label>
      <input type="password" id="pass" name="password">
      <label>Password (again):</label>
      <input type="password" id="doubleCheck">
      <label>SMS User:</label>
      <input type="text" name="smsUser" value="{{client.smsUser}}">
      <label>SMS Pass:</label>
      <input type="password" name="smsPass" value="{{client.smsPass}}">
      <label>Mock:</label>
      <input type="checkbox" name="mock" value="yes" {% if client.mock %} checked {% endif %}>
      <label></label>
      <button type="submit" id="submitBtn" class="btn btn-primary">Update!</button>
    </form>
  </div>
</div>

{% else %}

<div class="page-header">
  <h1>Create a new client</h1>
</div>

<div class="row">
  <div class="span12">
    <form class="form" method="POST" action="/admin/clients/create">
      {% csrf_token %}
      <label>Name:</label>
      <input type="text" name="name">
      <label>Short Code:</label>
      <input type="text" name="code" placeholder="The short code from the SMS gateway">
      <label>Username:</label>
      <input type="text" name="username">
      <label>Password:</label>
      <input type="password" id="pass" name="password">
      <label>Password (again):</label>
      <input type="password" id="doubleCheck">
      <label>SMS User:</label>
      <input type="text" name="smsUser" placeholder="The username for the SMS gateway">
      <label>SMS Pass:</label>
      <input type="password" name="smsPass">
      <label>Mock:</label>
      <input type="checkbox" name="mock" value="yes" checked>
      <label></label>
      <button type="submit" id="submitBtn" class="btn btn-primary">Create!</button>
    </form>
  </div>
</div>

{% endif %}

<script>
  $('#submitBtn').click(function() {
    // double check the passwords then let it go
    var res = $('#pass').val() == $('#doubleCheck').val();
    if (!res) {
      alert("Passwords don't match");
      $('#pass').focus();
    }
    return res;
  });
  
</script>

{% endblock %}
