{% extends 'base.html' %}

{% block title %} New Client {% endblock %}

{% block style %}
<style>
  .red {
    border: 2px solid #F00;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span4 offset4">
    <form id='clientForm' action="/clients/create" method="POST">
      {% csrf_token %}
      <p>Name: <input name="name"></p>
      <p>Short Code: <input name="short_code"></p>
      <p>Username: <input name="username"></p>
      <p>Password: <input type="password" name="password" id="P"></p>
      <p id="help"></p>
      <p>Password (again): <input type="password" id="checkP"></p>
      <p><input type="submit" value="Create Client"></p>
    </form>
  </div>
</div>

<script>
  // when they submit double check the password
  $('#clientForm').submit(function() {
    // get elements and remove red in case they have it
    var pass = $('#P').removeClass('red');
    var check = $('#checkP').removeClass('red');
    if (pass.val() != check.val()) {
      pass.addClass('red');
      check.addClass('red');
      $('#help').text('Passwords must match');
      return false;
    }
    return true;
  });
</script>

{% endblock %}